@import "src/styles.scss";

.narrow-basic-table-row-expandable {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0.25rem 0rem;
    height: 4rem;
    width: 130rem;
}

.close {
    border-bottom: 1px solid $c-D0D6F1;
    background: none; // Ensure background is removed when closed
}

.open {
    background: rgba(231, 235, 248, 0.20);
    height: 4rem;
}

.expandable {
    display: flex;
    padding: 0.25rem 0rem 1.5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.0625rem;
    align-self: stretch;
}

.expandable-row {
    display: flex;
    width: 130rem;
    padding: 1.5rem 5.9375rem 1.5rem 5.9375rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    color: $c-C00;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    border-bottom: 1px solid $c-D0D6F1;
}
.errorMessage{
    flex: 1 0 0;
}
.cell {
    color: $c-C00;
}

.check {
    flex: 0;
}

.button {
    flex: 0;
}

.icon {
    flex: 0;
    max-width: 2.75rem;
}
.status .assignee .dateOfReport .assigneeDate {
    flex: 1;
}
