.input-container {
    position: relative; 
    display: flex;
    height: 82px;
    padding: 4px 0px;
    align-items: center;
    gap: 1px;
    align-self: stretch;
    border-bottom: 1px solid $c-D0D6F1;
  }
   
  textarea {
    
    display: flex;
    padding: var(--layout-02, 8px);
    align-items:center; 
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border: none;
    resize: none; 
    padding-top: 40px; 
  }
   
  textarea:focus {
    outline: none; 
  }
   
  .floating-label {
    position: absolute; /* Position the label absolutely within the container */
    pointer-events: none; /* Prevent the label from being interactive */
    left: 15px; /* Adjust the left position */
    top: 50%; /* Center the label vertically */
    transform: translateY(-50%); /* Center the label vertically */
    transition: 0.2s ease all; /* Smooth transition for the label */
    color: $c-3F4B5A; /* Set the color */
    font-family: Rubik; /* Set the font family */
    font-size: 14px;
    font-style: normal; /* Set the font style */
    font-weight: 400; /* Set the font weight */
    line-height: normal; /* Set the line height */
    width: 134px; /* Set the width */
  }
   
  .floating-label.active {
    top: 30%; /* Move the label up */
    font-size: 12px; /* Reduce the font size */
    color: $c-5A71CE; /* Change the color */
    transform: none; /* Remove the transform */
  }