
<div [ngClass]="['cell', type]"> {{data}} 
    @if(type===DataCellType.MORE){
        <i class="fas fa-ellipsis-v more-icon"></i>
    }
    @if(type===DataCellType.ICON){
        <i class="fas fa-clipboard-list clipboard-list-icon"></i>
    }
    @if(type===DataCellType.ASSIGNEE){
        <app-yv-assignee firstName="Ariela" lastName="Zoppelmann"></app-yv-assignee>
    }
    @if(type===DataCellType.CHECK){
        <i class="fa-solid fa-chevron-right"></i>
    }
    @if(type===DataCellType.SLIDER){
       <app-yv-slider [value]=50></app-yv-slider>
    }
</div> 