<!-- 
<div [ngClass]="['cell', type]"> {{data}} 
   
    @if(type===DataCellType.MORE){
        <i class="fas fa-ellipsis-v more-icon"></i>
    }
    @if(type===DataCellType.ICON){
        <i class="fas fa-clipboard-list clipboard-list-icon"></i>
    }
    @if(type===DataCellType.ASSIGNEE && data != 'undefined'){
        {{data.split(' ')[0]}}
        {{data.split(' ')[1]}}
         <app-yv-assignee firstName="date" lastName="Zoppelmann"></app-yv-assignee> -->
        <!-- <app-yv-assignee [firstName]="data?.split(' ')[0]" [lastName]="data?.split(' ')[1]"></app-yv-assignee> -->
   <!-- }
    @if(type===DataCellType.CHECK){
        <i class="fa-solid fa-chevron-right"></i>
    }
    @if(type===DataCellType.SLIDER){
       <app-yv-slider [value]=50></app-yv-slider>
    }
</div>  -->
<div [ngClass]="['cell', type]"> 
    <ng-container *ngIf="type === DataCellType.MORE">
        <i class="fas fa-ellipsis-v more-icon"></i>
    </ng-container>
    <ng-container *ngIf="type === DataCellType.ICON">
        <i class="fas fa-clipboard-list clipboard-list-icon"></i>
    </ng-container>
    <ng-container *ngIf="type === DataCellType.ASSIGNEE && data">
        <app-yv-assignee [firstName]="data.split(' ')[0]" [lastName]="data.split(' ')[1]"></app-yv-assignee>
    </ng-container>
    <ng-container *ngIf="type === DataCellType.CHECK">
        <i class="fa-solid fa-chevron-right"></i>
    </ng-container>
    <ng-container *ngIf="type === DataCellType.SLIDER">
       <app-yv-slider [value]="50"></app-yv-slider>
    </ng-container>
</div>