@import "src/styles.scss";
.pie-circle{
    width: 21.07744rem;
    height: 21.07744rem;
    
}

.part-of-the-circle-text {
    fill: $black;
    font-family: Poppins;
    font-size: 0.4rem; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-anchor: middle; 
    dominant-baseline: middle; 
}

