





<svg class="pie-circle" viewBox="0 0 200 200">
  <ng-container *ngFor="let item of data; let i = index">
    <!-- צייר קודם את כל החתיכות -->
    <path [attr.d]="getPieSlice(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i])"
          [attr.fill]="pieColorsArray[i % 4]" />
  </ng-container>

  <!-- צייר את החתיכה האחרונה -->
  <path [attr.d]="getPieSlice(getUpdatedBeginPlace()[data.length - 1] || 0, 100)" fill="#1334B9" />

  <!-- אחר כך הטקסטים -->
  <ng-container *ngFor="let item of data; let i = index">
    <text
      [attr.x]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).x"
      [attr.y]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).y"
      class="part-of-the-circle-text">
      <title>{{item.Value}} {{ calculatePercentage(item.Count) | number:'1.0-0' }}%</title>
      {{item.Value}} {{ calculatePercentage(item.Count) | number:'1.0-0' }}%
    </text>
  </ng-container>

  <!-- טקסט לחתיכה האחרונה -->
  <text [attr.x]="getTextPosition(getUpdatedBeginPlace()[data.length - 1] || 0, 100).x"
    [attr.y]="getTextPosition(getUpdatedBeginPlace()[data.length - 1] || 0, 100).y" class="part-of-the-circle-text">
    <title>{{totalValue.Value}} {{ remainingPercentage | number:'1.0-0'}}%</title>
    {{totalValue.Value}} {{ remainingPercentage | number:'1.0-0'}}%
  </text>
</svg>
