
<svg class="pie-circle" viewBox="0 0 200 200">
    <ng-container *ngFor="let item of date.LastName; let i = index">
      <!-- שרטוט חתיכת עיגול לכל אחוז -->
      <path
        [attr.d]="getPieSlice(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i])"[attr.fill]="pieColorsArray[i%4]" />
  <!-- טקסט שמציג את האחוזים של כל חלק -->


  <ng-container *ngIf="getUpdatedBeginPlace()[i]">
    <text
      [attr.x]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).x"
      [attr.y]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).y"
      [attr.transform]="'rotate(' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).rotation + ' ' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).x + ' ' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).y + ')'"
      [attr.text-anchor]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count), getUpdatedBeginPlace()[i]).x > 100 ? 'end' : 'start'"
      class="part-of-the-circle-text">
      {{item.Value}} {{ calculatePercentage(item.Count) | number:'1.0-0' }}%
    </text>
  </ng-container>
    </ng-container>
    <!-- חתיכה אחרונה בעיגול -->
    <path [attr.d]="getPieSlice(getUpdatedBeginPlace()[date.LastName.length - 1] || 0, 100)" fill="#1334B9" />
    <!-- טקסט על העיגול -->
    <text [attr.transform]="getTextTransform()" class="part-of-the-circle-text">
     All Database {{ allDatabaseCount }}%
    </text>
  </svg>

  <!-- <ng-container *ngIf="getUpdatedBeginPlace()[i]">
    <text
      [attr.x]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x"
      [attr.y]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).y"
      [attr.transform]="'rotate(' + (getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).rotation + 90 + (getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x > 100 ? 180 : 0)) + ' ' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x + ' ' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).y + ')'"
      [attr.text-anchor]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x > 100 ? 'end' : 'start'"
      class="part-of-the-circle-text">
      {{item.Value}} {{ calculatePercentage(item.Count) | number:'1.0-0' }}%
    </text>
  </ng-container> -->
    <!-- <ng-container *ngIf="getUpdatedBeginPlace()[i]">
    <text
      [attr.x]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x"
      [attr.y]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).y"
      [attr.transform]="'rotate(' + (getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).rotation + 90 + (getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x > 100 ? 180 : 0)) + ' ' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x + ' ' + getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).y + ')'"
      [attr.text-anchor]="getTextPosition(getUpdatedBeginPlace()[i] - calculatePercentage(item.Count)).x > 100 ? 'end' : 'start'"
      class="part-of-the-circle-text">
      {{item.Value}} {{ calculatePercentage(item.Count) | number:'1.0-0' }}%
    </text>
  </ng-container> -->