<div *ngIf="!showSVG" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
    <svg  xmlns="http://www.w3.org/2000/svg" class="circle-btn" width="76" height="76" viewBox="0 0 116 136" fill="none">
        <g filter="url(#filter0_d_365_6286)">
            <circle cx="58" cy="58" r="38" fill="var(--E7EBF8, #E7EBF8)"/>
        </g>
        <defs>
            <filter id="filter0_d_365_6286" x="-10" y="0" width="136" height="136" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="10"/>
                <feGaussianBlur stdDeviation="15"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_365_6286"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_365_6286" result="shape"/>
            </filter>
        </defs>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"  class="icon" >
            <path  fill="#425DC7" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
        </svg>
    
    </svg>
</div>
<div *ngIf="showSVG" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
    <svg   xmlns="http://www.w3.org/2000/svg" class="circle-btn" width="116" height="116" viewBox="0 0 116 116" fill="none">
        <g filter="url(#filter0_d_366_5444)">
          <circle cx="58" cy="58" r="38" fill="#D0D6F1"/>
        </g>
        <defs>
          <filter id="filter0_d_366_5444" x="-10" y="0" width="136" height="136" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="10"/>
            <feGaussianBlur stdDeviation="15"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_366_5444"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_366_5444" result="shape"/>
          </filter>
        </defs>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"  class="icon" style="text-align: center;  font-family: Font Awesome 6 Pro; font-size: 1.875rem; font-style: normal; font-weight: 400; line-height: normal;">  
            <path  fill="#425DC7" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
        </svg>
    
      </svg> 
</div>
<!-- <div class="icon" >
  <i class="fa-light fa-plus" ></i>
  <i class="fa-regular fa-plus"></i></div> -->