.table-header {
    border-bottom: 1px solid #D0D6F1;
    display: flex;
    flex-direction: row;
    width: 65.0625rem;
    padding: 0.25rem 0rem;
    align-items: center;
}

.table-header > * {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center; /* אופציונלי, מרכז את התוכן */
}