@import "src/styles.scss";
.switch-container {
    display: inline-flex;
    align-items: center;
    gap: 0.125rem; // Adjusted from 0.25rem
}

.switch-text {
    display: flex;
    width: auto;
    height: 0.4375rem; // Adjusted from 0.875rem
    flex-direction: column;
    justify-content: center;
    color: $c-3F4B5A;
    text-align: center;
    font-family: Poppins;
    font-size: 0.4375rem; // Adjusted from 0.875rem
    font-style: normal;
    font-weight: 400;
    line-height: 0.625rem; // Adjusted from 1.25rem
}

.switch-active {
    display: flex;
    flex-direction: row;
    width: 0.796875rem; // Adjusted from 1.59375rem
    height: 0.275rem; // Adjusted from 0.55000rem
    align-items: center;
    border-radius: 41.25px; // Adjusted from 82.5px
    border: 0.75px solid $c-B8C2EA; // Adjusted from 1.5px
    background:$c-B8C2EA;
    cursor: pointer;

}

.switch-not-active {
    display: flex;
    flex-direction: row;
    width: 0.796875rem; // Adjusted from 1.59375rem
    height: 0.275rem; // Adjusted from 0.55000rem
    justify-content: flex-end;
    align-items: center;
    border-radius: 41.25px; // Adjusted from 82.5px
    border: 0.75px solid $c-C4C7C5; // Adjusted from 1.5px
    background: $c-C4C7C5;

    border: 0.75px solid $c-C4C7C5; // Adjusted from 1.5px
    background: $c-C4C7C5;
    cursor: pointer;
}
.circle-active {
    width: 0.4125rem; // Adjusted from 0.825rem
    height: 0.4125rem; // Adjusted from 0.825rem
    flex-shrink: 0;
    border-radius: 41.25px; // Adjusted from 82.5px
    background: $c-5A71CE;
    box-shadow: 0px 0.825px 1.65px 0px rgba(39, 39, 39, 0.10); // Adjusted from 1.65px and 3.3px
    transition: transform 0.3s;
}

.circle-not-active {
    margin-right: 0.415rem; // Adjusted from 0.8300rem
    width: 0.4125rem; // Adjusted from 0.825rem
    height: 0.4125rem; // Adjusted from 0.825rem
    flex-shrink: 0;
    border-radius: 2.578125rem; // Adjusted from 5.15625rem
    background: $c-FFFFFF;
    box-shadow: -0.75px 0px 1.5px 0px rgba(39, 39, 39, 0.20); // Adjusted from -1.5px and 3px
    transition: transform 0.3s;
}

.switch-active .circle-active {
    transform: translateX(100%);
}

.switch-not-active .circle-not-active {
    transform: translateX(0%);
}
