@import "src/styles.scss";
.switch-container {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

.switch-text {
    display: flex;
    width: auto;
    height: 0.875rem;
    flex-direction: column;
    justify-content: center;
    color: $c-3F4B5A;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.switch-active {
    display: flex;
    flex-direction: row;
    width: 1.59375rem;
    height: 0.55000rem;
    align-items: center;
    border-radius: 82.5px;
    border: 1.5px solid $c-B8C2EA;
    background:$c-B8C2EA;
    cursor: pointer;

}

.switch-not-active {
    display: flex;
    flex-direction: row;
    width: 1.59375rem;
    height: 0.55000rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 82.5px;
    border: 1.5px solid $c-C4C7C5;
    background: $c-C4C7C5;

    border: 1.5px solid $c-C4C7C5;
    background: $c-C4C7C5;
    cursor: pointer;
}
.circle-active {
    width: 0.825rem;
    height: 0.825rem;
    flex-shrink: 0;
    border-radius: 82.5px;
    background: $c-5A71CE;
    box-shadow: 0px 1.65px 3.3px 0px rgba(39, 39, 39, 0.10);
    transition: transform 0.3s;
}

.circle-not-active {
    margin-right: 0.8300rem;
    width: 0.825rem;
    height: 0.825rem;
    flex-shrink: 0;
    border-radius: 5.15625rem;
    background: $c-FFFFFF;
    box-shadow: -1.5px 0px 3px 0px rgba(39, 39, 39, 0.20);
    transition: transform 0.3s;
}

.switch-active .circle-active {
    transform: translateX(100%);
}

.switch-not-active .circle-not-active {
    transform: translateX(0%);
}
