<form [formGroup]="formGroup">
    <div class="card">
        <div class="header-warp">
            <header class="header">{{ header }}</header>
        </div>

        <div class="radio-buttons">
            <input 
                type="radio" 
                formControlName="selection" 
                value="bookid"
                (change)="onRadioChange()" />
            <label class="value">Book ID</label>

            <input  
                type="radio" 
                formControlName="selection" 
                value="cluster"
                (change)="onRadioChange()" /> 
            <label class="value">Cluster</label>
        </div>

        <input 
            class="input" 
            type="text" 
            formControlName="bookId" 
            [placeholder]="selectedLabel" />

        <div class="divider">
            <div class="buttons-warp"> 
                <div class="buttons">
                    <yv-cluster-button 
                        class="button" 
                        [disabled]="formGroup.invalid" 
                        [isBig]="false" 
                        [buttonType]="buttomType1" 
                        [text]="text1" 
                        (onClick)="onClick()">
                    </yv-cluster-button>

                    <yv-cluster-button 
                        class="button" 
                        [disabled]="false" 
                        [isBig]="false" 
                        [buttonType]="buttomType2" 
                        [text]="text2" 
                        (onClick)="onClick()">
                    </yv-cluster-button>
                </div>
            </div>
        </div>
    </div>
</form>
