.pie-circle{
    width: 21.07744rem;
    height: 21.07744rem;
    
}
.circle {
    cx: 100;
    cy: 100;
    r: 100;
    fill: #7185D5;
}
.circle-100-percent{
    cx: 100;
    cy: 100;
    r: 100;
     fill:#F6CDCD;
}

.part-of-the-circle {
    fill: #F6CDCD;
}

.part-of-the-circle-text{
    color: #000;
    font-family: Poppins;
    font-size: 0.90956rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}