.pie-component-distribution-modal-container{
    display: inline-flex;
padding: 2.5rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.5rem;
border-radius: var(--Border-radius-x-large, 0.625rem);
background: #FFF;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10), 0px -4px 5px 0px rgba(0, 0, 0, 0.05);
}
.component-tittle{
    display: flex;
align-items: flex-start;
gap: 0.25rem;
align-self: stretch;
}
.component-tittle-text{
    color: #3F4B5A;
font-family: Poppins;
font-size: 1.625rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.table-and-pie-container{
    display: flex;
    align-items: center;
    gap: 5rem;
}