@import "src/styles.scss";
.active {
    display: flex;
    width: 5.3125rem; /* 10.625rem * 0.5 */
    height: 1.90625rem; /* 3.8125rem * 0.5 */
    min-width: 3.75rem; /* 7.5rem * 0.5 */
    max-width: 7.8125rem; /* 15.625rem * 0.5 */
    padding: calc(var(--Layout-small, 0.25rem) * 0.5) calc(var(--Layout-medium, 0.5rem) * 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--Layout-medium, 0.5rem) * 0.5);
    flex-shrink: 0;
    border-bottom: 1.5px solid $c-2449D8; /* 3px * 0.5 */
}

.not-active {
    display: flex;
    width: 5.3125rem; /* 10.625rem * 0.5 */
    height: 1.90625rem; /* 3.8125rem * 0.5 */
    min-width: 3.75rem; /* 7.5rem * 0.5 */
    max-width: 7.8125rem; /* 15.625rem * 0.5 */
    padding: calc(var(--Layout-none, 0rem) * 0.5) calc(var(--Layout-medium, 0.5rem) * 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--Layout-medium, 0.5rem) * 0.5);
    flex-shrink: 0;
    cursor: pointer;
}

.tab-text-active {
    color:$c-2449D8;
    text-align: center;
    /* Heading/Small bold */
    font-family: Poppins;
    font-size: 0.5625rem; /* 1.125rem * 0.5 */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tab-text-not-active {
    color: $c-3F4B5A;
    text-align: center;
    /* Heading/Small */
    font-family: Poppins;
    font-size: 0.5625rem; /* 1.125rem * 0.5 */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}