@import "src/styles.scss";
.card-container {
    display: flex;
    width: 32.125rem;
    height: 6.5625rem;
    padding: 0.9375rem 1.875rem;
    align-items: center;
    gap: 1.5625rem;
    border-radius: 0.625rem;
    background: $white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-circle {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    // background: $light_blue;
    background-color: var(--circle-color);
    color: var(--icon-color);
}
// ::ng-deep .fa-solid.fa-hourglass-clock{
//     background:$primary_btn !important;
//     color: $lavender_blue;
// }

// ::ng-deep .fa-solid.fa-clock-five {
//     background: $mint_green !important;
//     color: $forest_green;
// }

// ::ng-deep .fa-solid.fa-circle-check {
//     background:$light_blue;
//     color: $royal_blue;

// }

// ::ng-deep .fa-solid.fa-pen-to-square {
//     background:$peach_pink !important;
//     color:$rose_red;
// }

// ::ng-deep .fa-light.fa-house {
//     background:$light_blue !important;
//     color:$white;
// }
i {
    color: $white;
    text-align: center;
    font-family: "Font Awesome 6 Pro";
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
}

.card-text {
    flex: 1 0 0;
    color:$dark_gray;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
