@import "src/styles.scss";
.card-container {
    display: flex;
    width: 32.125rem;
    height: 6.5625rem;
    padding: 0.9375rem 1.875rem;
    align-items: center;
    gap: 1.5625rem;
    border-radius: 0.625rem;
    background: $c-FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-circle {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: $c-B8C2EA;
}

.circle-background-hourglass-clock {
    background:$c-1334B9;
}

.circle-background-clock-five {
    background: $c-A5EBDD;
}

.circle-background-circle-check {
    background:$c-B8C2EA;
}

.circle-background-edit {
    background:$c-F6CDCD;
}

.circle-background-home {
    background:$c-B8C2EA;
}

.icon-hourglass-clock {
    color: $c-D0D6F1;
}

.icon-clock-five {
    color: $c-1F8A7;
}

.icon-circle-check {
    color: $c-5A71CE;
}

.icon-edit {
    color:$c-E25F5;
}

.icon-home {
    color:$c-FFFFFF;
}

i {
    color: $c-FFFFFF;
    text-align: center;
    font-family: "Font Awesome 6 Pro";
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
}

.card-text {
    flex: 1 0 0;
    color:$c-262C34;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
