<yv-cluster-icon-button (onClick)="onClick()" [icon]="iconp"  ></yv-cluster-icon-button>
<br>
<br>
<yv-cluster-enter-bookid/>
<br>
<br>
<br>

<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [isBig]=true [buttonIcon]="icon" [iconProperty]="variant3"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [buttonIcon]="icon" [iconProperty]="variant3"></yv-cluster-button>

<yv-cluster-button  (onClick)="onClick()" text="Text" [buttonType]="secondary" [isBig]=true [buttonIcon]="icon" [iconProperty]="variant1"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="secondary" [buttonIcon]="icon" [iconProperty]="variant1"></yv-cluster-button>

<yv-cluster-button (onClick)="onClick()"text="Text" [buttonType]="tertiany" [isBig]=true [buttonIcon]="icon" [iconProperty]="variant1"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="tertiany" [buttonIcon]="icon" [iconProperty]="variant1"></yv-cluster-button>

<br>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [isBig]=true [disabled]="true" [buttonIcon]="icon" [iconProperty]="variant2"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [isBig]=false [disabled]="true" [buttonIcon]="icon"  [iconProperty]="variant2"></yv-cluster-button>

<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="secondary" [isBig]=true  [disabled]="true" [buttonIcon]="icon"  [iconProperty]="variant2"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()"  text="Text" [buttonType]="secondary" [isBig]=false  [disabled]="true" [buttonIcon]="icon"  [iconProperty]="variant2"></yv-cluster-button>

<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=true  [disabled]="true" [buttonIcon]="icon"  [iconProperty]="variant2"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=false  [disabled]="true" [buttonIcon]="icon"  [iconProperty]="variant2"></yv-cluster-button>
<br>
<br>
<yv-cluster-heading [title]="title1" [size]="size1" [isBold]=true></yv-cluster-heading>
<yv-cluster-heading [title]="title2" [size]="size2" [isBold]=true></yv-cluster-heading>
<yv-cluster-heading [title]="title3" [size]="size3" [isBold]=false></yv-cluster-heading>
<yv-cluster-heading [title]="title4" [size]="size3" [isBold]=true></yv-cluster-heading>
<br>
<br>
<yv-cluster-body [bodyText]="bodyText1" [size]="size1" [isBold]=false></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText1" [size]="size1" [isBold]=true></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText2" [size]="size2" [isBold]=false></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText2" [size]="size2" [isBold]=true></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText3" [size]="size3" [isBold]=false></yv-cluster-body>

