<h3>narrow-basic-table-warp</h3>
<hr>
<yv-cluster-narrow-basic-table-warp [subTitle]="customSubtitle"></yv-cluster-narrow-basic-table-warp>
<hr>
<h3>heading</h3>
<yv-cluster-heading [title]="title1" [size]="size1" [weight]="weight1"></yv-cluster-heading>
<yv-cluster-heading [title]="title2" [size]="size2" [weight]="weight1"></yv-cluster-heading>
<yv-cluster-heading [title]="title3" [size]="size3" [weight]="weight2"></yv-cluster-heading>
<yv-cluster-heading [title]="title4" [size]="size3" [weight]="weight1"></yv-cluster-heading>
<hr>


<h3>body</h3>
<yv-cluster-body [bodyText]="bodyText1" [size]="size1" [weight]="weight2"></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText1" [size]="size1" [weight]="weight1"></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText2" [size]="size2" [weight]="weight2"></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText2" [size]="size2" [weight]="weight1"></yv-cluster-body>
<yv-cluster-body [bodyText]="bodyText3" [size]="size3" [weight]="weight2"></yv-cluster-body>
<hr>
<yv-cluster-home-warp></yv-cluster-home-warp>
<h3>basic table row</h3>
<hr>
<yv-cluster-basic-table-row [property]="basicTableRowPropertyVariants.VARIANT2" [showAction]="true" [cells]="[
    { data: 'this is a text', type: dataCellType.TEXT },
    { data: 'https://example.com', type: dataCellType.LINK },
    { data: '', type: dataCellType.STATUS },
    { data: 'Racheli Liff', type: dataCellType.ASSIGNEE }
  ]"></yv-cluster-basic-table-row>
<yv-cluster-basic-table-row [property]="basicTableRowPropertyVariants.DEFAULT" [showAction]="true" [cells]="[
    { data: 'this is a text', type: dataCellType.TEXT },
    { data: 'https://example.com', type: dataCellType.LINK },
    { data: '', type: dataCellType.STATUS },
    { data: 'Racheli Liff', type: dataCellType.ASSIGNEE }
  ]"></yv-cluster-basic-table-row>
<yv-cluster-basic-table-row [property]="basicTableRowPropertyVariants.VARIANT2" [showAction]="false" [cells]="[
  { data: 'this is a text', type: dataCellType.TEXT },
    { data: 'press', type: dataCellType.BUTTON },
    { data: 'https://example.com', type: dataCellType.LINK },
    { data: '80', type: dataCellType.SLIDER },
    { data: 'Racheli Liff', type: dataCellType.ASSIGNEE }
  ]"></yv-cluster-basic-table-row>
<yv-cluster-basic-table-row [property]="basicTableRowPropertyVariants.DEFAULT" [showAction]="false" [cells]="[
    { data: 'this is a text', type: dataCellType.TEXT },
    { data: 'press', type: dataCellType.BUTTON },
    { data: 'https://example.com', type: dataCellType.LINK },
    { data: '', type: dataCellType.STATUS },
    { data: 'Racheli Liff', type: dataCellType.ASSIGNEE }
  ]"></yv-cluster-basic-table-row>
<hr>
<h3>badge</h3>
<hr>
<yv-cluster-badge [property]="badgeType.TODO"></yv-cluster-badge>
<yv-cluster-badge [property]="badgeType.DONE"></yv-cluster-badge>
<hr>
<h3>icon-button-large</h3>
<hr>
<yv-cluster-icon-button-large (onClick)="onClick()" [icon]="iconType.MAGNIFYING_GLASS_PLUS_LIGHT"
    [property]="iconButtonLargeType.DEFAULT"></yv-cluster-icon-button-large>
<yv-cluster-icon-button-large (onClick)="onClick()" [icon]="iconType.MAGNIFYING_GLASS_PLUS_LIGHT"
    [property]="iconButtonLargeType.HOVER"></yv-cluster-icon-button-large>
<hr>
<h3>viewer</h3>
<hr>
<yv-cluster-viewer pictureName="1"></yv-cluster-viewer>
<yv-cluster-viewer pictureName="img1"></yv-cluster-viewer>
<yv-cluster-viewer pictureName="00023"></yv-cluster-viewer>
 <hr>
<h3>data cell</h3>
<hr><yv-cluster-data-cells 
[type]="dataCellType.TEXT" 
[data]="'This is a text'">
</yv-cluster-data-cells>

<yv-cluster-data-cells 
[type]="dataCellType.LINK" 
[data]="'https://example.com'">
</yv-cluster-data-cells>

<yv-cluster-data-cells 
[type]="dataCellType.ICON" 
[moreData]="{ icon: IconType.USER }">
</yv-cluster-data-cells>

<yv-cluster-data-cells 
[type]="dataCellType.CHECK" 
[moreData]="{ type: checkType.CHECKED, state: checkStateType.DISABLED }">
</yv-cluster-data-cells>

<yv-cluster-data-cells 
[type]="dataCellType.BUTTON" 
[data]="{ text: 'Click Me', buttonType: buttonType.PRIMARY, disabled: false }">
</yv-cluster-data-cells>
<yv-cluster-data-cells [type]="dataCellType.SLIDER" [data]="80"></yv-cluster-data-cells>
<yv-cluster-data-cells [type]="dataCellType.MORE"></yv-cluster-data-cells>
<yv-cluster-data-cells [type]="dataCellType.STATUS"></yv-cluster-data-cells>
<yv-cluster-data-cells [type]="dataCellType.PLACEOLDER"></yv-cluster-data-cells>
<yv-cluster-data-cells [type]="dataCellType.ASSIGNEE" [data]="'Racheli Liff'"></yv-cluster-data-cells>
<hr>
<h3>SLIDER</h3>
<hr>
<yv-cluster-slider [value]=80></yv-cluster-slider>
<hr>
<h3>assignee</h3>
<hr>
<yv-cluster-assignee data="Ariela Zoppelmann"></yv-cluster-assignee>
<hr>
<h3>check</h3>
<hr>
<yv-cluster-check [type]=checkType.UNCHECKED [state]=checkStateType.ENABLED></yv-cluster-check>
<yv-cluster-check [type]=checkType.CHECKED [state]=checkStateType.ENABLED></yv-cluster-check>
<yv-cluster-check [type]=checkType.UNCHECKED [state]=checkStateType.DISABLED></yv-cluster-check>
<yv-cluster-check [type]=checkType.CHECKED [state]=checkStateType.DISABLED></yv-cluster-check>
<hr>
<h3>header cell</h3>
<hr>
<yv-cluster-header-cells [type]=headerCellType.TEXT header="text"></yv-cluster-header-cells>
<yv-cluster-header-cells [type]=headerCellType.ORDER header="order"
  (sortEvent)="handleSort($event)"></yv-cluster-header-cells>
<yv-cluster-header-cells [type]=headerCellType.ORDERDOWN header="order-down"
  (sortEvent)="handleSort($event)"></yv-cluster-header-cells>
<yv-cluster-header-cells [type]=headerCellType.HEADERSEARCH header="header-search"></yv-cluster-header-cells>
<yv-cluster-header-cells [type]=headerCellType.CHECK></yv-cluster-header-cells>
<yv-cluster-header-cells [type]=headerCellType.MORE></yv-cluster-header-cells>
<yv-cluster-header-cells [type]=headerCellType.PLACEOLDER></yv-cluster-header-cells>
<h3>button</h3>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]=buttonType.PRIMARY
  [iconType]="icon"></yv-cluster-button>
  <hr>
<h3>slider navigation tab</h3>
<hr>
<yv-cluster-slider-navigation-tab [property]="sliderNavigationTabType.VARIANT3" [icon]="iconType.HOUSE_LIGHT" [text]="sliderNavigationTabTextType.HOME"></yv-cluster-slider-navigation-tab>
<yv-cluster-slider-navigation-tab [property]="sliderNavigationTabType.ACTIVE" [icon]="iconType.HOUSE_LIGHT" [text]="sliderNavigationTabTextType.HOME"></yv-cluster-slider-navigation-tab>
<hr>
<h3>slider navigation</h3>
<hr>
<yv-cluster-slidebar-navigation></yv-cluster-slidebar-navigation>
<hr>
<h3>switch</h3>
<hr>
<yv-cluster-switch [text]="'switch'" [status]="StatusActiveOrNotActive.ACTIVE"
  (switchChange)="handleSwitchChange($event)"></yv-cluster-switch>
<hr>
<h3>tab</h3>
<hr>
<yv-cluster-basic-tab [text]="'tab'" [status]="StatusActiveOrNotActive.ACTIVE"
  (tabChange)="handleTabChange($event)"></yv-cluster-basic-tab>
<hr>
<h3>card</h3>
<hr>
<yv-cluster-basic-card [iconName]="CardIcons.HOME" [text]="'30 New clusters pending'"></yv-cluster-basic-card>
<br>
<yv-cluster-basic-card [iconName]="CardIcons.HOURGLASS_CLOCK"
  [text]="'30 New Suggestions pending'"></yv-cluster-basic-card>
<br>
<yv-cluster-basic-card [iconName]="CardIcons.EDIT"
  [text]="'70 Clusters created manually this month'"></yv-cluster-basic-card>
<br>
<yv-cluster-basic-card [iconName]="CardIcons.CLOCK_FIVE"
  [text]="'560 Old Suggestions  pending'"></yv-cluster-basic-card>
<br>
<yv-cluster-basic-card [iconName]="CardIcons.CIRCLE_CHECK"
  [text]="'120 Suggestions processed this month'"></yv-cluster-basic-card>
<hr>
<h3>narrow-basic-table-row </h3>
<yv-cluster-narrow-basic-table-row [property]="NarrowBasicTableRowInputState.HOVER" [cells]="exampleNarrowRow"></yv-cluster-narrow-basic-table-row>
<yv-cluster-narrow-basic-table-row [property]="NarrowBasicTableRowInputState.DEFAULT" [cells]="exampleNarrowRow"></yv-cluster-narrow-basic-table-row>
<hr>
<h3>table-header</h3>
<hr>
<yv-cluster-table-header [headers]="exampleTableHeader"></yv-cluster-table-header>
<hr>
<!-- <h3>field</h3>
<hr>
<yv-cluster-field [property]="stateEnum.ERROR" [textControl]="searchControl" placeholder="search"></yv-cluster-field>
<yv-cluster-field [property]="stateEnum.DISABLED" [textControl]="searchControl" placeholder="search"></yv-cluster-field>
<yv-cluster-field [property]="stateEnum.DEFAULT" [textControl]="searchControl" placeholder="search"></yv-cluster-field>
<yv-cluster-field [property]="stateEnum.FOCUSED" [label]="'Focused Label'" [textControl]="searchControl" placeholder="search"></yv-cluster-field>
<yv-cluster-field [property]="stateEnum.POPULATED" [label]="'Populated Label'" [textControl]="searchControl" placeholder="search"></yv-cluster-field>
<hr> -->

<h3>button</h3>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [isBig]=true [iconType]="icon"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [iconType]="icon"></yv-cluster-button>

<yv-cluster-button  (onClick)="onClick()" text="Text" [buttonType]="secondary" [isBig]=true [iconType]="icon"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="secondary" [iconType]="icon"></yv-cluster-button>

<yv-cluster-button (onClick)="onClick()"text="Text" [buttonType]="tertiany" [isBig]=true [iconType]="icon"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="tertiany" [iconType]="icon"></yv-cluster-button>

<br>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [isBig]=true [disabled]="true" [iconType]="icon"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="primary" [isBig]=false [disabled]="true" [iconType]="icon"></yv-cluster-button>

<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="secondary" [isBig]=true  [disabled]="true" [iconType]="icon"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()"  text="Text" [buttonType]="secondary" [isBig]=false  [disabled]="true" [iconType]="icon"></yv-cluster-button>

<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=true  [disabled]="true" [iconType]="icon"></yv-cluster-button>
<yv-cluster-button (onClick)="onClick()" text="Text" [buttonType]="tertiany" [isBig]=false  [disabled]="true" [iconType]="icon" ></yv-cluster-button>
<hr>

<h3>icon button</h3>
<yv-cluster-icon-button (onClick)="onClick()"></yv-cluster-icon-button>
<hr>

<h3>enter bookid</h3>
<yv-cluster-enter-bookid></yv-cluster-enter-bookid>
<hr>
<br>
<h3>create cluster</h3>
<yv-cluster-create-cluster></yv-cluster-create-cluster>
<hr> 
