
.badge {
    display: inline-flex;
    padding: var(--Layout-small, 0.25rem) var(--Layout-large, 0.75rem);
    justify-content: center;
    align-items: center;
    gap: var(--Layout-medium, 0.5rem);

    text-align: right;

    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.Done {

    color: var(--extra-color-status-surface-1-container, #0C803E);
    border-radius: var(--Border-radius-round, 1000px);
    border: 0.5px solid var(--extra-color-status-surface-1-container, #0C803E);
    background: var(--extra-color-status-surface-1, #E7FFF2);

}

.To-do {
    color: #797979;
    border-radius: var(--Border-radius-round, 1000px);
    border: 0.5px solid #D9D9D9;
    background: #F1F1F1;
}