@import "../../../../styles/colors.scss";

.warpper {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  flex-direction: column;
  background:$c-FFFFFF;
  gap: 0.1rem;
}

.common-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 16.75rem;
  min-width: 9.6875rem;
  max-width: 28.125rem;
  padding: var(--Layout-medium, 0.5rem);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--Border-radius-small, 0.25rem);
}

.common-input-wrapper.default {
  border: 0.03125rem solid $c-3F4B5A;
}

.common-input-wrapper.error {
  border: 0.03125rem solid var(--Color-4,$c-C00);
  background:$c-FAEAEA;
}

.common-input-wrapper.disabled {
  border: 0.03125rem solid $c-c4c7c580;
  background:$c-FFFFFF80;
}

.common-input-wrapper.populated {
  border: 0.03125rem solid $c-262C34;
}

.common-input-wrapper.focused {
  border: 0.0625rem solid  $c-1334B9;
}

legend.default, legend.error, legend.disabled {
  padding: 0%;
}

legend.focused, legend.populated {
  padding: 0%;
}

.input-legend {
  font-family: Poppins;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 1.1rem;
  display: flex;
  align-items: center;
}

.input-label.default {
  color:$c-3F4B5A;
}

.input-label.error {
  color:$c-C00;
}

.input-label.disabled {
  color:$c-8999DC;
}

.input-label.populated {
  color: $c-262C34;
}

.input-label.focused {
  color: $c-1334B9;
}

.custom-input {
  border: none;
  background: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.custom-input.disabled {
  color:$c-8999DC;
}

.error-message {
  color: var(--Additional-error-variant,$error-red);
  text-align: left;
  font-family: Rubik;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.7383125rem;
}