<div class="warpper">
  <fieldset [ngClass]="['common-input-wrapper', property]">
    <legend [ngClass]="['input-legend', property]">
      {{ label }}
<div class="warpper">
  <fieldset [ngClass]="['common-input-wrapper', property]">
    <legend [ngClass]="['input-legend', property]">
      {{ label }}
    </legend>
   
 
    <input type="text" class="custom-input" [formControl]="textControl"
    [disabled]="property !== stateEnum.DISABLED"
      [placeholder]="property" />
  </fieldset>

  @if (property === stateEnum.ERROR) {
  <div class="error-message">
    Error Message
  </div>
  }
</div>