@import "../../../../styles.scss";


.common-input-wrapper {
  position: relative;
  display: flex;
  width: 16.75rem;
  height: 2.5rem;
  min-width: 9.6875rem;
  max-width: 28.125rem;
  padding: var(--Layout-medium, 0.5rem);
  align-items: center;
  justify-content: space-between;
  gap: var(--Layout-medium, 0.5rem);
  flex-shrink: 0;
  border-radius: var(--Border-radius-small, 0.25rem);
 
  
}
.common-input-wrapper.error{
  border-radius: var(--Border-radius-small, 0.25rem);
  border: 0.5px solid var(--Color-4, #C00);
  background: #FAEAEA;
}
.common-input-wrapper.defualt {
  border: 0.5px solid #3F4B5A;
}

.common-input-wrapper.disabled{
  border: 0.5px solid rgba(196, 199, 197, 0.50);
  color: rgba(63, 75, 90, 0.30);
 
}
.common-input-wrapper.focused{
  border: 1px solid var(--Primery, #1334B9);
}

.common-input-wrapper.populated{
  border: 0.5px solid var(--Color-2, #262C34);
}

.custom-input {
border: none;
background: none;
outline: none; 
overflow: hidden;
color: #3F4B5A; 

text-overflow: ellipsis;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 

}

.custom-input.disabled {
  color: rgba(63, 75, 90, 0.30);

}

.wrapper {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  flex-direction: column;
  background: #FFF;
  gap: 0.1rem;
}


.error-message {
  color: var(--Additional-error-variant, #FF6665);
  text-align: right;
  font-family: Rubik;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.813px;
}

.input-legend {
  font-family: Poppins;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 1.1rem;
  display: flex;
  align-items: center;
}

.input-fieldset {
  padding: 0.5rem;
  position: relative;
}

legend.default ,legend.error, legend.disabled {
  padding: 0%;
}

legend.focused{
  color: var(--Primery, #1334B9);
}

legend.populated{
  color: var(--Color-2, #262C34);
}
