@import 'src/styles/colors';

.slider-navigation {
    display: flex;
    width: 7.125rem;
    height: 100vh;
    padding-top: 0.75rem;
    flex-direction: column;
    align-items: center;
    gap: 4.25rem;
    background: var(--gradient-pr, linear-gradient(180deg, #1334B9 0%, #425DC7 100%));
}

.logo {
    background: url('/assets/logo.png') no-repeat center center;
    background-size: contain;
    width: 3.0625rem; /* רוחב הלוגו */
    height: 4.75rem; /* גובה הלוגו */
    flex-shrink: 0;
    margin: 2rem auto; /* ריווח ומרכז הלוגו */
}

.tabs {
    display: flex;
    height: 57.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.space{
    margin-top: 20rem;
}
.line {
    display: flex;
    width: 7.125rem;
    height: 0.0625rem;
    flex-direction: column;
    align-items: center;
    gap: 0.1875rem;
    flex-shrink: 0;
    background-color: $c-E7EBF833; /* קו מפריד */
}

