@import 'src/styles/colors';

.slider-navigation {
    display: flex;
    flex-direction: column; /* סידור הטאבים מלמעלה למטה */
    justify-content: space-between; /* טאבים עליונים ותחתונים */
    height: 100vh; /* גובה מלא של המסך */
    width: 7.125rem; /* רוחב קבוע לניווט */
    background: linear-gradient(180deg, $c-1334B9 0%, $c-425DC7 100%); /* מעבר צבעים */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* צל קל */
    overflow: hidden; /* למנוע גלילה לא רצויה */
}

.logo {
    background: url('/assets/logo.png') no-repeat center center;
    background-size: contain;
    width: 3.0625rem; /* רוחב הלוגו */
    height: 4.75rem; /* גובה הלוגו */
    flex-shrink: 0;
    margin: 2rem auto; /* ריווח ומרכז הלוגו */
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* טאבים עליונים */
    align-items: center;
    flex: 1; /* תופס את כל השטח הנותר */
    padding: 1rem 0;
    gap: 1.5rem; /* ריווח בין הטאבים */
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem; /* גודל קבוע לטאב */
    height: 3rem;
    background-color: transparent;
    border-radius: 50%; /* עיגול לטאב */
    cursor: pointer;

}

.tab svg {
    width: 1.5rem; /* גודל אייקון */
    height: 1.5rem;
    fill: $c-FFFFFF; /* צבע אייקון */
}

.tab.active {
    background-color: $c-5A71CE; /* רקע לטאב פעיל */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* צל לטאב פעיל */
}


.tab-bottom {
    margin-top: auto; /* דוחף את הטאב התחתון לתחתית */
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    height: 2px; /* הגדלת גובה הפס */
    width: 100%; /* מכסה את כל הרוחב */
    background-color: $c-E7EBF833; /* קו מפריד */
    margin: 15px 0; /* ריווח גדול יותר */
}

.line-button {
    height: 2px; /* הגדלת גובה הפס */
    width: 100%; /* מכסה את כל הרוחב */
    background-color: $c-E7EBF833; /* קו מפריד לטאב התחתון */
    margin: 15px 0; /* ריווח גדול יותר */
}