<!-- <div class="slider-navigation">
    <div class="logo"></div>

    @for (i of tabs;track i.number) {
    @if (i.number < 4) { <yv-cluster-slider-navigation-tab [property]="tabs[i.number].property.value!"
        [icon]="tabs[i.number].icon" [text]="tabs[i.number].text" (click)="setActiveTab(tabs[i.number].property)">
        </yv-cluster-slider-navigation-tab>
        }
        @if (i.number === 4) {
        <div class="line"></div>
        <yv-cluster-slider-navigation-tab [property]="tabs[i.number].property.value!" [icon]="tabs[i.number].icon"
            [text]="tabs[i.number].text" (click)="setActiveTab(tabs[i.number].property)">
        </yv-cluster-slider-navigation-tab>
        }

        @if (i.number === 5) {
        <div class="tabs-bottom">
            <yv-cluster-slider-navigation-tab [property]="tabs[i.number].property.value!" [icon]="tabs[i.number].icon"
                [text]="tabs[i.number].text" (click)="setActiveTab(tabs[i.number].property)">
            </yv-cluster-slider-navigation-tab>
        </div>
        }
        }
</div> -->
<div class="slider-navigation">
    <div class="logo"></div>
    <div class="tabs">
        <div class="tabs-top">
            @for(tab of tabs; track tab.number){
            @if(tab.number < 3){ <div class="tab-top">
                <yv-cluster-slider-navigation-tab [property]="tab.property.value!"
                    [icon]="activeTabIndex === tab.number ? tab.activeIcon : tab.icon" [text]="tab.text"
                    (click)="setActiveTab(tab.number)">
                </yv-cluster-slider-navigation-tab>
        </div>
        }

        @if(tab.number === 3){
            <div class="tab-center">
        <div class="line"></div>
        <yv-cluster-slider-navigation-tab [property]="tab.property.value!"
            [icon]="activeTabIndex === tab.number ? tab.activeIcon : tab.icon" [text]="tab.text"
            (click)="setActiveTab(tab.number)">
        </yv-cluster-slider-navigation-tab>
    </div>
        }
        @if(tab.number === 4 ){
        <div class="tab-bottom">
            <div class="line"></div>
            <yv-cluster-slider-navigation-tab [property]="tab.property.value!"
                [icon]="activeTabIndex === tab.number ? tab.activeIcon : tab.icon" [text]="tab.text"
                (click)="setActiveTab(tab.number)">
            </yv-cluster-slider-navigation-tab>
        </div>
        }
        }
    </div>
</div>
