<div class="table-container">
  <div class="table-title">
    Progress Review: Automated List Updates
  </div>
  <!-- תפריט ניווט בין הכרטיסיות -->
  <app-tab-element></app-tab-element>

  <!-- כותרות טבלה -->
  <div class="table-header">
    <div class="header-cell" *ngFor="let header of getTableHeaders(); trackBy: trackByIndex">
      {{ header }}
    </div>
    @if (showSelect) {
      <div class="header-cell select-column">✔</div>
    }
  </div>

  <!-- שורות טבלה -->
  <div class="table-body">
    <app-yv-basic-table-row 
      *ngFor="let row of rows; trackBy: trackByIndex"
      [property]="row.name"
      [cells]="row.cells"
      [showAction]="showSelect">
    </app-yv-basic-table-row>
  </div>
</div>
