<div class="basic-table">
  <div class="table-name-and-tabs">
    <p>Progress Review: Automated List Updates</p>
    <div class="tabs">
      <app-tab-element [text]="'new'" [active]="false" (tabChange)="handleTabChange($event)"></app-tab-element>
      <app-tab-element [text]="'old'" [active]="false" (tabChange)="handleTabChange($event)"></app-tab-element>
    </div>
  </div>
  <div class="table-header">
    <div class="headers">
      <app-yv-header-cells type="text" header="Name List"></app-yv-header-cells>
      <app-yv-header-cells type="text" header="To Do"></app-yv-header-cells>
    </div>
  </div>
  <div class="table-data">
    <div class="data">
      <app-yv-basic-table-row nameList="aaaa" toDo="bbbbb" done="cccc" type="new" property="default"
        [showaction]="false"></app-yv-basic-table-row>
    </div>
  </div>
</div>
<app-yv-header-cells type="text" header="text"></app-yv-header-cells>
<app-yv-header-cells type="order" header="order" (sortEvent)="handleSort($event)"></app-yv-header-cells>
<app-yv-header-cells type="order-down" header="order-down" (sortEvent)="handleSort($event)"></app-yv-header-cells>
<app-yv-header-cells type="header-search" header="header-search"></app-yv-header-cells>
<app-yv-header-cells type="check"></app-yv-header-cells>
<app-yv-header-cells type="more"></app-yv-header-cells>
<br>