.basic-table {
  display: flex;
  width: 64.6875rem;
  padding: 1.875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  border-radius: 0.5rem;
  background: $white;


  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.table-name {
  color: $dark_gray;
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1 0 0;
}

.table-name-and-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  align-self: stretch;
  border-bottom: 0.5px solid $light_gray;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1 0 0;
}

.table-data {
  display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}