@import "../../../../styles/colors.scss";

.viewer-warpper {
    display: flex;
    width: 65.8125rem;
    height: 50.3125rem;
    padding: 0.25rem 0.625rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #FFF;
}

.picture-name-warpper {
    display: flex;
    height: 3.125rem;
    padding: var(--layout-02, 0.5rem);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: $pastel-blue;
}

.picture-name {
    width: 8.375rem;
    color: $slate_blue;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.image-warpper {
    display: flex;
    width: 59.5625rem;
    height: 42.3125rem;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* מרכז את התמונה אנכית */
    gap: 0.625rem;
    flex-shrink: 0;
}



.button-warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
}

.image {
    width: 39.3125rem;
    height: 42.1875rem;
    background: url('/assets/images/img1.jpg')  no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.rot-0 {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.rot-90 {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.rot-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.rot-270 {
    transform: rotate(270deg);
    transition: transform 0.3s ease;
}

.rot-360 {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
}

.scale-1 {
    transform: scale(1);

}

.scale-1-1 {
    transform: scale(1.1);
}

.scale-1-2 {
    transform: scale(1.2);
}

.scale-1-3 {
    transform: scale(1.3);
}

.scale-1-4 {
    transform: scale(1.4);
}

.scale-1-5 {
    transform: scale(1.5);
}