
$primary_btn: var(--primary_btn);
$light_blue: var(--light_blue);
$royal_blue: var(--royal_blue);
$slate_blue: var(--slate_blue);
$lavender_blue: var(--lavender_blue);
$light_gray: var(--light_gray);
$silver_gray: var(--silver_gray);
$dark_gray: var(--dark_gray);
$white: var(--white);
$peach_pink: var(--peach_pink);
$rose_red: var(--rose_red);
$mint_green: var(--mint_green);
$forest_green: var(--forest_green);
