
$primary_btn: var(--primary_btn);
$primary_btn: var(--primary_btn);
$light_blue: var(--light_blue);
$royal_blue: var(--royal_blue);
$slate_blue: var(--slate_blue);
$lavender_blue: var(--lavender_blue);
$cool_blue: var(--cool_blue);
$light_gray_blue: var(----light_gray_blue);
$light_gray: var(--light_gray);
$silver_gray: var(--silver_gray);
$neutral_gray: var(--neutral_gray);
$dark_gray: var(--dark_gray);
$peach_pink: var(--peach_pink);
$red: var(--red);
$rose_red: var(--rose_red);
$light_red: var(--light_red);
$mint_green: var(--mint_green);
$forest_green: var(--forest_green);
$black: var(--black);
$dialog_header: var(--Neutral-Grey-800);
$radio_button: var(--main-on-neutral);
$white: var(--white);
$medium-blue: var(--medium-blue);
$grade_variant_2: var(--grade_variant_2);
$grade_variant_3: var(--grade_variant_3);
$grade_variant_4: var(--grade_variant_4);
$light_blue: var(--light_blue);
$secondary_blue: var(--secondary_blue);
$table_body_strong : var(--table_body_strong);
$light_blue: var(--light_blue);
$royal_blue: var(--royal_blue);
$slate_blue: var(--slate_blue);
$lavender_blue: var(--lavender_blue);
$cool_blue: var(--cool_blue);
$light_gray_blue: var(----light_gray_blue);
$light_gray: var(--light_gray);
$silver_gray: var(--silver_gray);
$dark_gray: var(--dark_gray);
$white: var(--white);
$peach_pink: var(--peach_pink);
$red: var(--red);
$rose_red: var(--rose_red);
$light_red: var(--light_red);
$mint_green: var(--mint_green);
$forest_green: var(--forest_green);
$black: var(--black);
