
$primary_btn: var(--primary_btn);
$secondary_blue: var(--secondary_blue);
$table_body_strong : var(--table_body_strong);
$light_blue: var(--light_blue);
$royal_blue: var(--royal_blue);
$slate_blue: var(--slate_blue);
$lavender_blue: var(--lavender_blue);
$cool_blue: var(--cool_blue);
$light_gray_blue: var(--light_gray_blue);
$light_gray: var(--light_gray);
$silver_gray: var(--silver_gray);
$dark_gray: var(--dark_gray);
$white: var(--white);
$peach_pink: var(--peach_pink);
$red: var(--red);
$rose_red: var(--rose_red);
$light_red: var(--light_red);
$mint_green: var(--mint_green);
$forest_green: var(--forest_green);
$black: var(--black);
