<div class="frame">
    <div class="inner-frame">
      <yv-cluster-basic-square-icon-button
        [icon]="image"
        [isActive]="isImageModeOn"
        (click)="ImageModeReplaceStatus()"
      ></yv-cluster-basic-square-icon-button>
      <yv-cluster-basic-square-icon-button
        [icon]="list"
        [isActive]="isDetailsModeOn"
        (click)="DetailsModeReplaceStatus()"
      ></yv-cluster-basic-square-icon-button>
    </div>
    <div class="inner-frame2">
      <p class="record-name">{{ recordName }}</p>
      <yv-cluster-basic-small-icon-button [icon]="trash"></yv-cluster-basic-small-icon-button>
    </div>
  </div>