@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
.assignee {
    display: flex;
    align-items: center;
    gap: 0.125rem;
    color: $c-3F4B5A;
    text-align: right;
    /* Body/small */
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


circle {
    width: 1.507rem;
    height: 1.507rem;
    flex-shrink: 0;
}

.circle-text {
    text-anchor: middle;
    dominant-baseline: middle; 
    fill: $c-FFFFFF;
    font-family: 'Rubik', sans-serif; 
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}