@import "../../../../styles/colors.scss";
 
 
.tab {
    display: flex;
    width: 5.875rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 5.875rem;
    flex-direction: column;
    gap: 0.1875rem;
    padding: 0.40625rem 0rem;
}
 
 
.active {
    border-radius: 0.3125rem;
    background: $secondary_blue;
}
 
.icon {
   
    font-size: 1.875rem;
}
 
.fa-light {
    color: $white;
}
 
 
.fa-solid {
    color: $lavender_blue;
}
 
.text-icon {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}