@import "../../../../styles/colors.scss";

.tab {
    display: flex;
    width: 5.875rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column; 
    gap: 0.1875rem;
 padding: 0.40625rem 0rem;
}

.variant3 {
   
}

.active {
    border-radius: 0.3125rem;
    background: $c-425DC7;
}



.fa-light .text-icon {
    color: $c-FFFFFF;
    align-self: stretch;
}


.fa-solid .text-icon {
    color: $c-D0D6F1;
    align-self: stretch;
}

.text-icon {
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

