@import "../../../../styles/colors.scss";
.basic-table-row {
  display: flex;
  align-items: center;
  gap: 0.0625rem;
  border-bottom: 1px solid $lavender_blue;
  width: 65.0625rem;
  justify-content: space-between;
}

.special-cell {
  flex-grow: 0;
  flex-basis: auto;
  margin-left: auto;
}

.regular-cell {
  flex-grow: 1;
  flex-basis: 0;
}

.Default {
  display: flex;
  flex-direction: row;
  width: 65.0625rem;
  height: 5.125rem;
  padding: 0.25rem 0rem;
  align-items: center;
  gap: 0.0625rem;
  flex-shrink: 0;
  border-bottom: 1px solid $lavender_blue;
}

.Variant2 {

  display: flex;
  flex-direction: row;
  width: 65.0625rem;
  height: 5.125rem;
  padding: 0.25rem 0rem;
  align-items: center;
  gap: 0.0625rem;
  flex-shrink: 0;
  border-bottom: 1px solid $lavender_blue;
  background: rgba(231, 235, 248, 0.20);
}