@import "src/styles.scss";
.radio-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
}

.text-radio-button {
  color:$slate_blue;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.circle {
  color: $primary_btn;
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; 
  letter-spacing: -0.01313rem;
}

.circle-disable {
  color:$silver_gray;
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; 
  letter-spacing: -0.01313rem;
}

.circle-not-checked {
  color: $slate_blue;
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; 
  letter-spacing: -0.01313rem;
}

.circle-not-checked-disable {
  color:$silver_gray;
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.5rem; 
  letter-spacing: -0.01313rem;
}
