.default {
    display: flex;
    height: 5.125rem;
    padding: 0.25rem 0rem;
    align-items: center;
    gap: 0.0625rem;
    align-self: stretch;
    border-bottom: 1px solid #D0D6F1;
  }
  
  .default > * {
    flex: 1 1 auto; /* כל אובייקט יקבל חלק שווה מהשטח הזמין */
  }