@import "src/styles.scss";
header{
    align-self: stretch;
    color: var(--Palette-Black-88, rgba(0, 0, 0, 0.88));
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
}
.large{
    font-size: 1.625rem;
}
.medium{
    font-size: 1.375rem;
}
.small{
    font-size: 1.125rem;
}
.bold{
    font-weight: 500;
}
.normal{
    font-weight: 400;
}
.neutral-gray{
    color: $neutral-gray;
}
.slate-blue{
    color: $slate_blue;
}
.black{
    color: $black;
}
.dark-blue{
    color: $dark-blue;
}
.cool-blue{
    color: $cool-blue;
}