
<hr>
<h3>assignee</h3>
<hr>
<app-yv-assignee firstName="Ariela" lastName="Zoppelmann"></app-yv-assignee>
<hr>
<h3>check</h3>
<app-yv-check type="selected" state="desabled"></app-yv-check>
<app-yv-check type="unselected" state="enabled"></app-yv-check>
<app-yv-check type="selected" state="enabled"></app-yv-check>
<app-yv-check type="unselected" state="desabled"></app-yv-check>
<!-- <app-yv-select ></app-yv-select> -->

<hr>
<h3>data cell</h3>
<app-yv-data-cells type="text" data="toDo"></app-yv-data-cells>
<app-yv-data-cells type="more" data=""></app-yv-data-cells>
<app-yv-data-cells type="link" data="toDo"></app-yv-data-cells>
<app-yv-data-cells type="icon" data=""></app-yv-data-cells>
<app-yv-data-cells type="check" data=""></app-yv-data-cells>
<app-yv-data-cells type="assignee" data=""></app-yv-data-cells>
<hr>
<h3>header cell</h3>
<app-yv-header-cells type="text" header="text"></app-yv-header-cells>
<app-yv-header-cells type="order" header="order" (sortEvent)="handleSort($event)"></app-yv-header-cells>
<app-yv-header-cells type="order-down" header="order-down" (sortEvent)="handleSort($event)"></app-yv-header-cells>
<app-yv-header-cells type="header-search" header="header-search"></app-yv-header-cells>
<app-yv-header-cells type="check"></app-yv-header-cells>
<app-yv-header-cells type="more"></app-yv-header-cells>
<hr>
<h3>table</h3>
<app-yv-basic-table></app-yv-basic-table>
<hr>
<h3>textarea</h3>
<app-yv-textarea label="email"></app-yv-textarea>
<app-yv-textarea label="last name"></app-yv-textarea>
<router-outlet></router-outlet>
