@import "src/styles.scss";
.filter-section-container {
    display: flex;
    width: 99.4375rem;
    height: 3.5rem;
    padding-bottom: 1.25rem;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #B8C2EA;
}

.select {
    display: flex;
    width: 16.75rem;
    height: 2.5rem;
    min-width: 9.6875rem;
    max-width: 28.125rem;
    padding: var(--layout-medium, 0.5rem);
    align-items: center;
    gap: var(--layout-medium, 0.5rem);
    border-radius: var(--border-radius-small, 0.25rem);
    border: 0.5px solid $c-3F4B5A;
}

.selects-container {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.right-buttons {
    display: flex;
    width: 16.78125rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}

.icon {
    display: flex;
    width: 2.25rem;
    padding: 0.375rem var(--layout-x-large, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--layout-medium, 0.5rem);
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: none;
    border: none;
}

i {
    color: $c-1334B9;
    font-family: "Font Awesome 6 Pro";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button {
    display: flex;
    height: var(--layout-09, 2.25rem);
    padding: 0.375rem var(--layout-x-large, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--layout-medium, 0.5rem);
    border-radius: var(--border-radius-small, 0.25rem);
    border: 1px solid var(--secondary, #425DC7);
    background: #2B48C0;
    width: 9rem;
    color: white;
}
