<!-- <button [ngClass]="{'btn': true,'primary': buttonType === 'primary','secondary': buttonType === 'secondary',
'tertiary': buttonType === 'tertiary',
  'big': isBig,
  'small': !isBig,
}" [disabled]="disabled"
(click)="onClick.emit()"
>
  <i *ngIf="iconType"
    [class]="iconType"></i>
  {{ text }}
</button> -->

<button class="btn" [class]="buttonType|| 'default-button-type'" [ngClass]="{'big': isBig}" [disabled]="disabled"
(click)="onClick.emit()"
>
@if(iconType){
  <i [class]="iconType"></i>
}
  {{ text }}
</button>