@import "src/styles.scss";
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem; /* 0.25rem * 0.5 */
  gap: 0.25rem; /* 0.5rem * 0.5 */
  font-family: Poppins;
  font-size: 0.4375rem; /* 0.875rem * 0.5 */
  font-style: normal;
  font-weight: 400;
  line-height: 0.625rem; /* 1.25rem * 0.5 */
  cursor: pointer;
  height: 1.125rem; /* 2.25rem * 0.5 */
  padding: 0.1875rem  0.5rem; /* 0.375rem 1rem * 0.5 */
}

.btn.big{
  height: 1.125rem; /* 2.25rem * 0.5 */
  padding: 0.1875rem  0.5rem; /* 0.375rem 1rem * 0.5 */
}

.btn.big{
  height: 1.25rem ; /* 2.5rem * 0.5 */
  padding: 0.375rem 1.125rem ; /* 0.75rem 2.25rem * 0.5 */
}

.primary {
  border: 0.5px solid $c-1334B9; /* 1px * 0.5 */
  background:$c-1334B9;
  color: $c-FFFFFF;

  &:disabled {
    color: $c-FFFFFF;
    border: 0.5px solid  $c-C4C7C5; /* 1px * 0.5 */
    background:  $c-C4C7C5;
  }
}

.secondary {
  border: 0.5px solid $c-C4C7C5; /* 1px * 0.5 */
  background-color:$c-FFFFFF;
  color: $c-262C34;
  &:hover {
    background: rgba(190, 198, 208, 0.10);
  }

  &:disabled {
    color: $c-C4C7C5;
    border: 0.5px solid  $c-C4C7C5; /* 1px * 0.5 */
    pointer-events: none;
  }

}

.tertiary {
  border: 0px solid $c-1334B9;
  color: $c-1334B9;
  background-color:transparent;

  &:hover {
    border: 0px solid $c-F8F9FA;
    background: $c-F8F9FA;
  }
  &:active {
    border: 0.5px solid $c-F8F9FA; /* 1px * 0.5 */
    background: $c-F8F9FA;
  }
  &:disabled {
    color:$c-C4C7C5;
    pointer-events: none;
  }

}