 @import "src/styles.scss";
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--Border-radius-small, 0.25rem);
  gap: var(--Layout-medium, 0.5rem);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  cursor: pointer;
}

.primary {
  border: 1px solid $primary_btn;
  background:$primary_btn;
  color: $white;

  &:disabled {
    color: $sage_gray;
    border: 1px solid  $grade_variant_2;
    background:  $grade_variant_2;
  }
}

.secondary {
  border: 1px solid $light_blue;
  background-color:$white;
  color: $primary_btn;
  &:hover {
    // background: $grade_variant_4;
  }

  &:disabled {
    color: $sage_gray;
    border: 1px solid  $silver_gray;
    background: $white;
  }

}

.tertiary {
  border: 0px solid $primary_btn;
  color: $primary_btn;
  background-color:$white;

  &:hover {
    // background: $grade_variant_4;
  }

  &:active {
    // background: $grade_variant_4;
  }
  &:disabled {
    color:$sage_gray;
    border: 1px solid $white;
    background: $white;
  }
}

.big-btn {
  height: var(--Layout-10, 2.5rem);
  padding: var(--Layout-large, 0.75rem) var(--Layout-3x-large, 2.25rem);
}
.small-btn {
  height: var(--Layout-09, 2.25rem);
  padding: 0.375rem var(--Layout-x-large, 1rem);
}
