<div [ngClass]="['data-cell', type]">
  @if(type === dataCellType.TEXT) {
    @if(prefCodeStatus === true && moreData?.['prefCode']) {
      {{ moreData['prefCode'] }}
    }
    @else {
      {{ data }}
    }
  }
  @if(type === dataCellType.MORE) {
    <i class="fas fa-ellipsis-v more-icon"></i>
  }
  @if(type === dataCellType.CHECK ) {
    <yv-cluster-check
      [checkedControl]="control.value"
      [type]="moreData?.['type'] || checkType.UNCHECKED"
      [state]="moreData?.['state'] || checkStateType.ENABLED">
    </yv-cluster-check>
  }

    @if(type === dataCellType.STATUS){
    <yv-cluster-badge [property]="badgeType.TODO"></yv-cluster-badge>
    }
    @if(type === dataCellType.ASSIGNEE && isString(data)){
        <yv-cluster-assignee [data]="data" ></yv-cluster-assignee>
    }

    @if(type === dataCellType.LINK ){
        <a [href]="data">{{ data }}</a>
        }

    @if(type === dataCellType.ICON){
        <yv-cluster-icon-button-large [icon]="IconType.CHEVRONRIGHT" [property]="iconButtonLargeType.DEFAULT" ></yv-cluster-icon-button-large>
    }

    @if(type === dataCellType.SLIDER && isNumber(data) ){
        <yv-cluster-slider [value]="data"></yv-cluster-slider>
    }

    @if(type === dataCellType.BUTTON){
        <yv-cluster-button (onClick)="onClick()" text=data [buttonType]=buttonType.SECONDARY [buttonIcon]=buttonIcon.CHEVRON_LEFT></yv-cluster-button>
    }
</div>
