<div [ngClass]="['cell', type]">
    @if(type === DataCellType.TEXT && isString(data)){
    {{ data }}
    }
    @if(type === DataCellType.MORE ){
    <i class="fas fa-ellipsis-v more-icon"></i>
    }
    @if(type === DataCellType.CHECK){
        <yv-cluster-check [type]=CheckType.UNCHECKED [state]=CheckStateType.ENABLED></yv-cluster-check>
    }

    @if(type === DataCellType.STATUS){
    <!-- <yv-cluster-badge [status]="data"></yv-cluster-badge> -->
    }
    <!-- <yv-cluster-badge [status]="data"></yv-cluster-badge> -->

    
    @if(type === DataCellType.ASSIGNEE ){

        <yv-cluster-assignee firstName="Ariela" lastName="Zoppelmann"></yv-cluster-assignee>
    }
   
    @if(type === DataCellType.LINK && isString(data)){        
        <a [href]="data">{{ data }}</a>
        }
      
    @if(type === DataCellType.ICON){           
        <i class="fas fa-user"></i>
    }
 
    @if(type === DataCellType.SLIDER  && isNumber(data) ){       
        <yv-cluster-slider [value]=data></yv-cluster-slider>
    }
    
    @if(type === DataCellType.BUTTON && isString(data)){       
        <yv-cluster-button (onClick)="onClick()" text=data [buttonType]=ButtonType.SECONDARY [buttonIcon]=ButtonIcon.CHEVRON_LEFT></yv-cluster-button>
    }
</div>