<div class="option-wrapper" >
    <div [ngClass]="optionType">
        @if(optionType === optionTypeMain.TEXT){
            <span class="icon-wrapper">
                <i class="fa-regular fa-square-arrow-up-right custom-arrow"></i>
            </span>
        }
        @else if(optionType === optionTypeMain.STATUS){
            <yv-cluster-badge [property]="badgeStatus"></yv-cluster-badge>
        }
        @else{
            <yv-cluster-assignee [data]="assigneeName"></yv-cluster-assignee>
        }
        <!-- {{ (optionType === optionTypeMain.TEXT ) ? Text : '' }} -->
          {{linkName}}
    </div>
</div>


