@import "src/styles.scss";
.option-wrapper {
    display: flex;
    width: 8.875rem;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap:  1rem;
    border-radius:  0rem;
}

.option-wrapper:hover {
    // background: $c-E7EBF833;
       background: $c-E7EBF880;
}

.text {
    display: flex;
    height: 22px;
    padding: 0px 8px;
    align-items: center;
    gap: var(--Layout-large, 12px);
    align-self: stretch;
}
a{
      all: unset;
  cursor: pointer;
    text-decoration: none;
  color: inherit;
}
.assignee {
    display: flex;
    align-items: center;
    gap: 0.125rem;
    color: $c-3F4B5A;
    text-align: right;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.circle {
    width: 1.507rem;
    height: 1.507rem;
    flex-shrink: 0;
    fill: $c-8999DC;
}
.letters{
    color: $c-FFFFFF;
font-family: Rubik;
font-size: 0.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;display: flex;
width: 0.91119rem;
height: 0.73594rem;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.icon-wrapper {
    color:$c-3B3B3B;
    text-align: center;
    font-family: "Font Awesome 6 Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    width: 14px;
    height: 14px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
}