<form [formGroup]="enterBookIdOrClusterForm">
    <div class="card">
        <div class="header-warp">
            <yv-cluster-heading [title]="header" [size]="size" [weight]="weight" [color]="color"></yv-cluster-heading>
        </div>
        @if(showRadioButtons){
        <div class="radio-buttons">
            <yv-cluster-radio-button-list class="radio" [radioButtonValuesArray]="radioButtonArray" formControlName="selection"  [direction]="direction" (selectionChange)="checkedChange($event)"></yv-cluster-radio-button-list>
        </div>
    }
    <yv-cluster-field class="enter-bookId-field" formControlName="input"></yv-cluster-field>
        <!-- <input class="input" type="text" formControlName="input"/> -->
        <div class="outer-button-warp">
            <div class="divider"></div>
                <div class="buttons-warp">
                    <div class="buttons">
                        <yv-cluster-button [disabled]="false" [isBig]="btn_size" [buttonType]="buttomType1"
                            [text]="button1" (onClick)="closeDialogWithData(null)">
                        </yv-cluster-button>

                        <yv-cluster-button [disabled]="false" [isBig]="btn_size" [buttonType]="buttomType2"
                            [text]="button2" [disabled]="enterBookIdOrClusterForm.invalid" (onClick)="add()">
                        </yv-cluster-button>
                    </div>
                </div>

        </div>
    </div>
</form>
<!-- @if(formIsValid){
<yv-cluster-toast-notification [iconName]="iconType.CIRCLE_CHECK_SOLID" [message]="message"  [text]="'Cancel'" [duration]="80000"></yv-cluster-toast-notification>
}
@if(formIsValid==false){
<yv-cluster-toast-notification [iconName]="iconType.XMARK_SOLID" [message]="'Please choose or fill before submitting.'"  [text]="'Cancel'" [duration]="80000"></yv-cluster-toast-notification>
} -->
