<div class="table-container">
    <!-- //כותרת הטבלה -->
    <div class="tabble-header">
        <div class="table-header-left-side"></div>
        <div class="table-header-right-side">
            <div class="the-specific-area">{{thePlaceTotalValue.Value}}</div>
            <div class="all-database-areas">{{allDatabaseTotalValue.Value}}</div>
        </div>
    </div>
    @for (item of tableRows; track item) {
    <!-- //שורה בטבלה -->

    <div class="table-row"
        [ngClass]="{'table-row':item.rowName!='Last Name', 'table-first-row': item.rowName==='Last Name'}">
        <!-- <div class="table-row-name">{{item.rowName}}</div> -->
        <div class="table-row-name">{{item.rowName}}
            <!-- <yv-cluster-header-cells [type]=HeaderCellType.TEXT header="{{item.rowName}}"></yv-cluster-header-cells> -->
        </div>
        <div class="table-row-right-side-all-column">
            <div class="table-row-one-side">

                @for (subItem of spsipicPlaceData; track subItem.Count; let i = $index, e = $even) {

                <!-- <div class="table-text">{{ getValue(subItem, item.objectKey) }}</div> -->
                @if(item.rowName==='Last Name'){
                <div class="table-text data-cell-color-{{i%4}}">
                    <yv-cluster-data-cells [type]=DataCellType.TEXT
                        data="{{getValue(subItem, item.objectKey)}}"></yv-cluster-data-cells>
                </div>
                }
                @else if(item.rowName==='percent'){
                <div class="table-text ">
                    <yv-cluster-data-cells [type]=DataCellType.TEXT
                        data="{{calculatePercentage(subItem.Count, thePlaceTotalValue.TotalCount)}}%"></yv-cluster-data-cells>
                </div>
                }
                @else if(item.rowName==='Total name count'){
                    <div class="table-text ">
                        <yv-cluster-data-cells [type]=DataCellType.TEXT
                            data="{{totalAllNamesInTheDatabase}}"></yv-cluster-data-cells>
                    </div>
                    }
                @else{
                <div class="table-text">
                    <yv-cluster-data-cells [type]=DataCellType.TEXT
                        data="{{getValue(subItem, item.objectKey)}}"></yv-cluster-data-cells>
                </div>
                }
                }
            </div>
            <div class="table-row-one-side">
                <!-- <div class="table-row-right-side-column"></div> -->
                @for (subItem of allDatabaseData; track subItem.Count; let i = $index, e = $even) {

                <!-- <div class="table-text ">{{ getValue(subItem, item.objectKey) }}</div> -->
                @if(item.rowName==='Last Name'){
                <div class="table-text data-cell-color-{{i%4}}">
                    <yv-cluster-data-cells [type]=DataCellType.TEXT
                        data="{{ getValue(subItem, item.objectKey) }}"></yv-cluster-data-cells>
                </div>
                }
                @else if(item.rowName==='percent'){
                <div class="table-text ">
                    <yv-cluster-data-cells [type]=DataCellType.TEXT
                        data="{{calculatePercentage(subItem.Count, allDatabaseTotalValue.TotalCount)}}%"></yv-cluster-data-cells>
                </div>
                }
                @else if(item.rowName==='Total name count'){
                    <div class="table-text ">
                        <yv-cluster-data-cells [type]=DataCellType.TEXT
                            data="{{totalAllNamesInTheDatabase}}"></yv-cluster-data-cells>
                    </div>
                    }
                @else{
                <div class="table-text">
                    <yv-cluster-data-cells [type]=DataCellType.TEXT
                        data="{{getValue(subItem, item.objectKey)}}"></yv-cluster-data-cells>
                </div>
                }
                }
            </div>
        </div>
    </div>
    }
</div>