@import "src/styles.scss";

.table-header {
  height: 5.125rem;
  justify-content: space-between;
  align-self: stretch;
  border-bottom: 1px solid $lavender_blue;
  display: flex;
  width: 100%;
  padding: 0.25rem 0rem;
  align-items: center;
}

.regular-cell {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}
.special-cell {
  flex-grow: 0;
  flex-basis: auto;
  margin-left: auto;
  width: auto; 
}