<!-- <div class="table-header">
        @for (header of headers ; track header)
          {
            <div [ngClass]="{'special-cell': header.type === HeaderCellType.CHECK || header.type === HeaderCellType.MORE || header.type === HeaderCellType.PLACEOLDER, 'regular-cell': header.type !== HeaderCellType.CHECK && header.type !== HeaderCellType.MORE && header.type !== HeaderCellType.PLACEOLDER}">
              <yv-cluster-header-cells [header]="header.data" [type]="header.type"></yv-cluster-header-cells>
          </div>
          }
    </div>
   -->

   <div class="table-header">
    @for (header of headers ; track header)
      {
        <div [ngClass]="{'special-cell': header.type === HeaderCellType.CHECK || header.type === HeaderCellType.MORE || header.type === HeaderCellType.PLACEOLDER, 'regular-cell': header.type !== HeaderCellType.CHECK && header.type !== HeaderCellType.MORE && header.type !== HeaderCellType.PLACEOLDER}">
          <yv-cluster-header-cells [header]="header.data" [type]="header.type"></yv-cluster-header-cells>
      </div>
      }
</div>
