@import "../../../../styles/colors.scss";
.table-header {
    display: flex;
    width: 101.0625rem;
    padding: 0.25rem 0rem;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid blue;
    justify-content: space-between; 


  }
  
  .special-cell {
    flex-grow: 0;
    flex-basis: auto;
    margin-left: auto;
  }
  
  .regular-cell {
    flex-grow: 1;
    flex-basis: 0;
  }