<form #filterForm="ngForm">
    <div class="filter-container">
        <div class="buttons-container">
            <yv-cluster-switch name="prefCodeSwitch" [text]="'Pref Code'" [active]="formData.prefCode"
                (switchChange)="onPrefCodeChange($event)"></yv-cluster-switch>
            <div class="icon-wrapper" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false">
                <yv-cluster-data-cells [type]="dataCellType.ICON" [moreData]="{icon:iconType.RIGHT_LEFT_LIGHT}"
                    (iconClick)="onRightLeftClick()"></yv-cluster-data-cells>
                @if(showTooltip){
                <yv-cluster-tooltip class="tooltip" [text]="'Data compare'"></yv-cluster-tooltip>
                }
            </div>
            <div class="icon-with-badge" (mouseenter)="showPopover = true" (mouseleave)="showPopover = false">
                <yv-cluster-data-cells [type]="dataCellType.ICON" [moreData]="{icon:iconType.USER_LIGHT}"
                    (iconClick)="onUserClick()"></yv-cluster-data-cells>
                <div class="badge">
                    <div class="number">
                        {{numberCRM}}
                    </div>
                </div>
                @if(showPopover){
                <yv-cluster-popover [options]="popoverOptionsLink"
                    [type]="popoverType.LINK"></yv-cluster-popover>
                }
            </div>

             @if(howManyChecked>0){
            <yv-cluster-button type="button" (onClick)="openEnterBookidDialog()" text="Add to cluster"
                [buttonType]="buttonType.SECONDARY" [isBig]=true
                [iconType]="iconType.LAYER_PLUS_LIGHT"></yv-cluster-button>
             }
             @if(howManyChecked>1){
            <yv-cluster-button (onClick)="openDialog()" text="Create Cluster" [buttonType]="buttonType.PRIMARY"
                [isBig]=true [iconType]="iconType.FOLDER_PLUS_LIGHT"></yv-cluster-button>
             }
        </div>
    </div>
</form>