@import "src/styles.scss";

.Hover {
    background: $c-E7EBF833;
}

.narrow-basic-table-row {
    border-bottom: 1px solid $c-D0D6F1;
    display: flex;
    align-items: center;
}

.regular-cell {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}
.special-cell {
    flex-grow: 0;
    flex-basis: auto;
    margin-left: auto;
    width: auto;
}

.cell {
    display: flex;
    height: 3.125rem;
    padding: var(--layout-02, 0.5rem);
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}
