<div class="narrow-basic-table-row" [ngClass]="property">

  @for(cell of cells;track cell){

  <div
  [ngClass]="{'special-cell': cell.type === DataCellType.ICON || cell.type === DataCellType.CHECK || cell.type === DataCellType.MORE, 'regular-cell': cell.type !== DataCellType.ICON && cell.type !== DataCellType.CHECK && cell.type !== DataCellType.MORE}">
    <div class="cell">
      @if(cell.moreData){
        <yv-cluster-data-cells [data]="cell.data" [type]="cell.type" [moreData]="cell.moreData" (checkStatus)="checkChange($event)"  (iconClick)="onDeletObject()"></yv-cluster-data-cells>

      }
      @else{
        <yv-cluster-data-cells [data]="cell.data" [type]="cell.type" (iconClick)="onDeletObject()"></yv-cluster-data-cells>
      }
    </div>
  </div>
  }

</div>