<div class="table-name-and-tabs">
    <yv-cluster-heading [title]="title" [size]="textSize.LARGE" [weight]="textWeight.BOLD"></yv-cluster-heading>
    <div class="tabs">
        @for (tab of tabs; track tab) {
        <yv-cluster-basic-tab [text]="tab.text" [active]="tab.status" (tabChange)="setActiveTab(tab.text)">
        </yv-cluster-basic-tab>
        }
    </div>
</div>
<div class="basic-table-container">
    <yv-cluster-basic-table [headers]="headers" [rows]="rows"></yv-cluster-basic-table>
</div>
