
<div class="basic-toggle" (click)="changStatus()">
    <div [ngClass]="{'circle-selected': !rightSelected, 'circle-not-selected': rightSelected}">
        <div [ngClass]="{'text-selected': !rightSelected, 'text-not-selected': rightSelected}">{{ leftText }}</div>
    </div>
    <div [ngClass]="{'circle-selected': rightSelected, 'circle-not-selected': !rightSelected}">
        <div [ngClass]="{'text-selected': rightSelected, 'text-not-selected': !rightSelected}">{{ rightText }}</div>
    </div>
</div>

