@import "src/styles.scss";
.basic-toggle {
    width: 7rem;
    height: 1.5300rem;
    display: flex;
    padding: 0.0625rem;
    align-items: center;
    border-radius: 1.875rem;
    border: 0.5px solid  $c-8999DC;
    background: $c-FFFFFF;
    box-shadow: 0px 0px 4px 0px $c-00000026;
    cursor: pointer;
}

.circle-selected {
    display: flex;
    width: 3.4375rem;
    height: 0.3rem;
    padding: 0.625rem 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background:$c-D0D6F1;
}

.circle-not-selected {
    display: flex;
    width: 2.75rem;
    height: 1.25rem;
    padding: 0.625rem 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
}

.text-selected {
    color: $c-5A71CE;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-not-selected {
    color:$c-3F4B5A;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
