@import "src/styles.scss";

p{
color: var(--Palette-Black-88, rgba(0, 0, 0, 0.88));
font-family: Poppins;
font-style: normal;
line-height: normal;
}
.large{
    font-size: 1rem;
}
.medium{
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
}
.small{
    font-size: 0.75rem;
}
.bold{
    font-weight: 600;
}
.normal{
    font-weight: 400;
}
.neutral-gray{
    color: $neutral-gray;
}
.slate-blue{
    color: $slate_blue;
}
.black{
    color: $black;
}
.dark-gray{
    color: $dark_gray;
}
.cool-blue{
    color: $cool-blue;
}
.deep_black{
    color: $deep_black;
}
.vibrant_green{
    color: $vibrant_green;
}
.white{
    color: $white;
}
.medium-gray{
    color: $medium-gray;
}
.primary_btn{
    color: $primary_btn;
}