p{
color: var(--Palette-Black-88, rgba(0, 0, 0, 0.88));
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.large{
    font-size: 1rem;
}
.medium{
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
}
.small{
    font-size: 0.75rem;
}
.bold{
    font-weight: 600;
}