<form [formGroup]="formGroup">
    <div class="card">
        <div class="header-warp">
            <yv-cluster-heading [title]="header" [size]="size" [weight]="weight" [color]="color"></yv-cluster-heading>
        </div>
        <div class="form-warp">
            <div class="form-header-warp">
                <div class="table-header">
                    <yv-cluster-body [bodyText]="tableHeader1" [size]="size1" [weight]="weight1"
                        [color]="color1"></yv-cluster-body>
                        <!-- <yv-cluster-header-cells [header]="tableHeader1"></yv-cluster-header-cells> -->
                </div>
                <div class="header-cell">
                    <yv-cluster-body [bodyText]="tableHeader2" [size]="size1" [weight]="weight1"
                        [color]="color1"></yv-cluster-body>
                </div>
            </div>
            @for(data of this.dataCells; track $index){
            <div class="table">
                <div class="data-cells">
                        <label class="label">{{data.Field}}</label>
                </div>
                <!-- <input [formControlName]="data.Field"> -->
                <div class="options-cells">
                    <div class="radiobuttons">
                        <yv-cluster-radio-button-list [radioButtonValuesArray]="data.RadioOptions"  [formControlName]="data.Field"></yv-cluster-radio-button-list>
                    </div>
                </div>

            </div>
            }
            <!-- <app-yv-select class="select" [default]="selectLabel" [options]="options" formControlName="option"></app-yv-select> -->
            <textarea class="comments" placeholder="Comments" style="resize: none;"></textarea>
             <!-- <yv-cluster-field [property]="stateEnum.DEFAULT"></yv-cluster-field> -->
            <div class="outer-button-warp">
                <div class="divider"></div>
                    <div class="buttons-warp">
                        <div class="buttons">
                            <yv-cluster-button  [isBig]="btn_size" [buttonType]="buttomType1"
                                [text]="button1" (onClick)="this.close=true">
                            </yv-cluster-button>
    
                            <yv-cluster-button  [isBig]="btn_size" [buttonType]="buttomType2"
                                [text]="button2" (onClick)="createCluster()">
                            </yv-cluster-button>
                        </div>
                    </div>
              
            </div>
            
        </div>
    </div>
</form>
@if(formIsValid==true){
<yv-cluster-toast-notification [iconName]="ToastNotificationIcons.SUCCESS"[message]="'Cluster created successfully!'"  [text]="'Text'" [duration]="80000"></yv-cluster-toast-notification>

}
@if(formIsValid==false){
<yv-cluster-toast-notification [iconName]="ToastNotificationIcons.ERROR" [message]="'Please fill all the fields'"  [text]="'Text'" [duration]="80000"></yv-cluster-toast-notification>
}