<form [formGroup]="formGroup">
    <div class="card">
        <div class="header-warp">
            <yv-cluster-heading [title]="header" [size]="size" [weight]="weight" [color]="color"></yv-cluster-heading>
        </div>
        <div class="form-warp">
            <div class="form-header-warp">
                <div class="table-header">
                    <yv-cluster-body [bodyText]="tableHeader1" [size]="size1" [weight]="weight1"
                        [color]="color1"></yv-cluster-body>
                </div>
                <div class="header-cell">
                    <yv-cluster-body [bodyText]="tableHeader2" [size]="size1" [weight]="weight1"
                        [color]="color1"></yv-cluster-body>
                </div>
            </div>
            @for(data of this.createClusterData; track $index){
            <div class="table">
                <div class="data-cells">
                        <label class="label">{{data.Field}}</label>
                </div>
                <div class="options-cells">
                    <div class="radiobuttons">
                        <yv-cluster-radio-button-list [radioButtonArray]="data.Values" (changes)="onSelectionChanged(data)"></yv-cluster-radio-button-list>
                    </div>
                </div>

            </div>
            }
            <app-yv-select class="select" [default]="selectLabel"></app-yv-select>
            <input class="comments" placeholder="Comments"/>
            <div class="outer-button-warp">
                <div class="divider"></div>
                    <div class="buttons-warp">
                        <div class="buttons">
                            <yv-cluster-button  [size]="btn_size1" [buttonType]="buttomType1"
                                [text]="button1">
                            </yv-cluster-button>
    
                            <yv-cluster-button  [size]="btn_size2" [buttonType]="buttomType2"
                                [text]="button2">
                            </yv-cluster-button>
                        </div>
                    </div>
              
            </div>
            
        </div>
    </div>
</form>