<div class="details-container">
  @if(recordDetails.detailsOn){
  <div class="details">
    <div class="record-header">
      <p class="cluster-number">{{ recordDetails.recordTitle }}</p>
      <div class="language-toggel-button">
        <yv-cluster-basic-toggle [rightSelected]="true" [rightText]="'English'" [leftText]="'עברית'"
          (toggleChange)="handleToggleChange($event)"></yv-cluster-basic-toggle>
      </div>
    </div>
    <div *ngFor="let detail of recordDetails.values" class="data-cell">
      {{detail.value}}
    </div>
    <!-- <div *ngFor="let detail of recordDetails.values" class="data-cell">
      <span class="detail-key">{{ detail.value}}</span>: <span class="detail-value">{{ detail[1] }}</span>
    </div>
  </div> -->
  </div>
    }
  
    @if(recordDetails.imageOn){
    <div class="image">
      <div class="picture-name-warpper">
        <div class="picture-name">{{ recordDetails.recordTitle}}</div>
      </div>
      <yv-cluster-viewer pictureName="img1" [pictureName]="recordDetails.recordTitle"></yv-cluster-viewer>
    </div>
    }
  </div>