@import "src/styles.scss";
.table-header {
    display: flex;
    padding: 0.25rem 0rem;
    align-items: center;
    gap: 0.9375rem;
    align-self: stretch;
    background-color: $c-FFFFFF;
    z-index: 1;
    height: 3.125rem;
}
.save-place {
    display: flex;
    width: 11.375rem;
    height: 3.125rem;
    padding: var(--layout-02, 0.5rem);
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
}
.record-header {
    width: 32.4375rem;
    height: 3.125rem;
    display: flex;
    // padding: var(--layout-02, 0.5rem);
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: $c-E7EBF87F;
    top: 0;
}
.cluster-number {
    width: 8.375rem;
    color: $c-3F4B5A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    place-items: center;
    flex-shrink: 0;
}

.language-toggel-button {
    display: flex;
    padding: 0.0625rem;
    align-items: center;
}

.row-header {
    display: flex;
    width: 11.375rem;
    height: 3.125rem;
    // padding: var(--layout-02, 0.5rem);
    align-items: center;
    gap: 0.625rem;
    border-bottom: 0.5px solid var(--D0D6F1, $c-D0D6F1);
    flex-shrink: 0;
    color: $c-3F4B5A;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
}

.table-container {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    padding: 0.25rem 0rem;
    align-items: center;
    gap: 0.9375rem;
    top:0;
    overflow: auto; /* מאפשר גלילה אופקית וגם אנכית */
    max-height: 50.3125rem; /* מגביל את הגובה המקסימלי */
    max-width: 100%; 
    position: static; 
}

.details-container {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    padding: 0.25rem 0rem;
    align-items: center;
    gap: 0.9375rem;
    top:0;
    // margin-top: 0;
    // padding-top: 0;
    max-width: 100%;
    max-height: 0.8125rem;
}

.data-cell {
    display: flex;
    // padding: var(--layout-02, 0.5rem);
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    height: 3.125rem;
    align-self: stretch;
    border-bottom: 0.5px solid var(--D0D6F1, $c-D0D6F1);
    color: $c-3F4B5A;
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details-container{
    display: flex;
}
.details{

}
.image{

}