.select-container {
    margin: 20px;
  }
  
  .select-fieldset {
    border: 1px solid $light_gray;
    padding: 0.5rem;
    position: relative;
  }
  
  .select-legend {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0 5px;
    position: absolute;
    top: -0.7rem;
    left: 10px;
    background: white;
  }
  
  .select-input {
    width: 100%;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
  }