<yv-cluster-filter-handling-suggestions (fieldValue)="search($event)"></yv-cluster-filter-handling-suggestions>

<div class="table-container">
    <yv-cluster-table-header [headers]="Headers" (checkStatus)="headerCheckChange($event)" (openDialog)="openPeiComponent()"></yv-cluster-table-header>

</div>
@for (row of originalRows; track row){
<yv-cluster-narrow-basic-table-row [property]="NarrowBasicTableRowInputState.DEFAULT" [cells]="row" (checkStatus)="checkChange($event)" (bookIdToDelet)="deleteByBookId($event)"></yv-cluster-narrow-basic-table-row>
}