<div class="table-container">
    <!-- <yv-cluster-narrow-basic-table [Headers]="Headers" [Rows]="Rows"></yv-cluster-narrow-basic-table> -->
    <yv-cluster-table-header [headers]="Headers"></yv-cluster-table-header>

</div>
<yv-cluster-narrow-basic-table-row [property]="NarrowBasicTableRowInputState.HOVER" [cells]="exampleNarrowRow"></yv-cluster-narrow-basic-table-row>
<yv-cluster-narrow-basic-table-row [property]="NarrowBasicTableRowInputState.DEFAULT" [cells]="exampleNarrowRow3"></yv-cluster-narrow-basic-table-row>
