<div [ngClass]="[type,'header-cell']">
    @if(header === 'Last Name'){
    <div>
        <i class="fa-solid fa-chart-simple chart-icon"  (click)="openPeiComponent()"></i>{{ header }}
    </div>
    }
    @if(header === 'Button'){
       
        }
    @if(type === headerCellType.ORDER){
    <i class="fas fa-arrow-up sort-icon" (click)="sortBy('column')"></i>
    }
    @if(type === headerCellType.ORDERDOWN){
    <i class="fas fa-arrow-down sort-icon" (click)="sortBy('column')"></i>
    }
    @if(type === headerCellType.HEADERSEARCH){
    <div class="header-search-search">
        <div class="header-search-line"></div>
        <span class="header-search-cancle"><i class="fas fa-close"></i></span>
    </div>
    }
    @if(type === headerCellType.CHECK){
    <yv-cluster-check [type]=checkType.UNCHECKED [state]=checkStateType.ENABLED
        (checkStatus)="checkChange($event)"></yv-cluster-check>
    }
    @else{
        {{header}}
        }
</div>