@import "src/styles.scss";

.badge {
    display: inline-flex;
    padding: calc(var(--Layout-small, 0.25rem) * 0.5) calc(var(--Layout-large, 0.75rem) * 0.5);
    justify-content: center;
    align-items: center;
    gap: 0.25rem; /* 0.5rem * 0.5 */
    text-align: right;
    font-family: Poppins;
    font-size: 0.375rem; /* 0.75rem * 0.5 */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Done {
    color:$c-0C803E;
    border-radius: 31.25rem; /* 62.5rem * 0.5 */
    border: 0.015625rem solid $c-0C803E; /* 0.03125rem * 0.5 */
    background: $c-E7FFF2;
}
.To-do {
    color: $c-797979;
    border-radius: 31.25rem; /* 62.5rem * 0.5 */
    border: 0.015625rem solid $c-D9D9D9; /* 0.03125rem * 0.5 */
    background: $c-F1F1F1;
}