<<<<<<< HEAD
 
=======
@import "../../../../styles/colors.scss";
>>>>>>> 3c27fb10a0bcaa68a8d7f34b81246fd6cf802f78
.badge {
    display: inline-flex;
    padding: var(--Layout-small, 0.25rem) var(--Layout-large, 0.75rem);
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    gap: var(--Layout-medium, 0.5rem);
=======
    gap: 0.5rem;
>>>>>>> 3c27fb10a0bcaa68a8d7f34b81246fd6cf802f78
 
    text-align: right;
 
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
}
 
.Done {
<<<<<<< HEAD
 
    color: var(--extra-color-status-surface-1-container, #0C803E);
    border-radius: var(--Border-radius-round, 1000px);
    border: 0.5px solid var(--extra-color-status-surface-1-container, #0C803E);
    background: var(--extra-color-status-surface-1, #E7FFF2);
=======
    color:$green-dark;
    border-radius:1000px;
    border: 0.5px solid $green-dark;
    background: $light-green;
>>>>>>> 3c27fb10a0bcaa68a8d7f34b81246fd6cf802f78
 
}
 
.To-do {
<<<<<<< HEAD
    color: #797979;
    border-radius: var(--Border-radius-round, 1000px);
    border: 0.5px solid #D9D9D9;
    background: #F1F1F1;
=======
    color:$gray;
    border-radius: 1000px;
    border: 0.5px solid $light-gray;
    background:$background-gray;
>>>>>>> 3c27fb10a0bcaa68a8d7f34b81246fd6cf802f78
}