.viewer-warpper{
    display: flex;
width: 66rem;
height: 50.3125rem;
padding: 0.25rem 0.625rem;
flex-direction: column;
align-items: center;
gap: 0.5rem;
background: #FFF;
}
.picture-name{
    display: flex;
height: 3.125rem;
padding: var(--layout-02, 0.5rem);
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
align-self: stretch;
background: rgba(231, 235, 248, 0.50);
color: #3F4B5A;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.image-warpper{
    display: flex;
width: 59.5625rem;
height: 42.3125rem;
flex-direction: column;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
}
.image {
    width: 39.3125rem;
    height: 42.1875rem;
    flex-shrink: 0;
    background: url("/assets/images/img1.jpg") lightgray -30.165px 0px / 106.634% 110.455% no-repeat;
}
.button-warpper{
    display: flex;
justify-content: center;
align-items: center;
gap: 0.25rem;
align-self: stretch;
}