<div class="table-warp">
  <div class="table-name-tabs">
    <div class="table-name">
      <div class="title">Auto Cluster List</div>
      <div class="sub-title">{{subTitle}}</div>
    </div>
    <div class="tabs">
      @for (tab of tabs; track tab) {
      <yv-cluster-basic-tab [text]="tab.text" [active]="tab.status" (tabChange)="setActiveTab(tab.text)">
      </yv-cluster-basic-tab>
      }
    </div>
  </div>
  <div class="table">
    <div class="table-actions">
      <yv-cluster-filter-section [iconsVisible]="iconsVisible" [Filters]="filtersDictionary[currentTab]"
        (onClickAddCluster)="onClickAddCluster()" (onClicShowkAssineeOrStatus)="onClicShowkAssineeOrStatus()"
        (onFilterValuesChange)="onFilterValuesChange($event)">
      </yv-cluster-filter-section>
    </div>
    <yv-cluster-narrow-basic-table [Headers]="Headers[currentTab]" [tableDataForm]="tableDataForm" [currentTab]="currentTab">
    </yv-cluster-narrow-basic-table>
  </div>
</div>
