@import "src/styles.scss";

.save-place {
    display: flex;
    width: 11.375rem;
    height: 3.125rem;
    // padding: var(--layout-02, 0.5rem);
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
}

.row-header {
    display: flex;
    width: 11.375rem;
    height: 3.125rem;
    // padding: var(--layout-02, 0.5rem);
    align-items: center;
    gap: 0.625rem;
    border-bottom: 0.5px solid var(--D0D6F1, $c-D0D6F1);
    flex-shrink: 0;
    color: $c-3F4B5A;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    margin-right: 0.675rem;
    position: sticky;
}

.container {
    display: flex;
}

.table-container {
    display: flex;
    // gap: 0.9375rem;
    top: 0;
    overflow-x: auto;
}

.outer-container {
    flex-direction: row;
    overflow-y: auto;
    flex-direction: column;
    overflow-y: auto;
    max-height: 50.3125rem;
    // max-width: 111.5rem;
}

.space-between {
    display: flex;
    height: 0.8125rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.compare-buttons-frame {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

// .table-container{
//     display: flex;
//     overflow-x: auto ;
//     // flex-direction: column;
// }