<!-- <div class="table-container">
    <div>
      <div class="save-place"></div>
      <div *ngFor="let column of columns" class="row-header">{{ column.header }}</div>
    </div>
      @for(record of records;track $index){
      <div>
        @if(record.status==='details'){
        <div class="record-header">
          <p class="cluster-number">{{ record.name }}</p>
          <div class="language-toggel-button">
            <yv-cluster-basic-toggle [rightSelected]="true" [rightText]="'English'" [leftText]="'עברית'"
              (toggleChange)="handleToggleChange($event)"></yv-cluster-basic-toggle>
          </div>
        </div>
        <div *ngFor="let column of columns" class="data-cell">
          {{column.values[$index]}}
        </div>
        }
        @else{
        <yv-cluster-viewer pictureName="img3" [pictureName]="record.name"></yv-cluster-viewer>
        }
      </div>
      }
    </div> -->


<div class="table-container">
  <div>
    <div class="save-place"></div>
    <div *ngFor="let header of records[0].details" class="row-header">{{ header.key }}</div>
  </div>
  @for(record of records;track $index){
  <yv-cluster-record-details [details]="record"></yv-cluster-record-details>
  }
</div>
<div class="space-between"></div>
<div class="compare-buttons-frame">
  <yv-cluster-compare-modal-button *ngFor="let record of records; let i = index" [recordName]="record.name" [index]="i"
  (detailsMode)="handleDetailsModeChange($event,i)"
  (imageMode)="handleImageModeChange($event,i)">
    ></yv-cluster-compare-modal-button>
</div>



<!-- (viewModeChange)="handleViewModeChange($event)" -->
