:host {
    display: block;
  }

  .cirrcle-wrapper{
    display: flex;
width: 35.6875rem;
height: 42.0625rem;
padding: 1.875rem;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-radius: 0.5rem;
background: #FFF;



  }
