<div class="wrapper">
  <div class="title">Suggestions Statistics</div>
  <svg class="circle-chart" [attr.viewBox]="'0 0 ' + (radius * 2) + ' ' + (radius * 2)">
    <ng-container *ngFor="let segment of segments">
      <path 
        [attr.d]="describeArc(radius, radius, radius, innerRadius, segment.startAngle, segment.endAngle)"
        [attr.class]="segment.className">
      </path>
    </ng-container>
    <circle [attr.cx]="radius" [attr.cy]="radius" [attr.r]="innerRadius" class="inner-circle"></circle>
  </svg>
  <div class="rows">
    <div class="row" *ngFor="let segment of segments">
      <div class="data">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
            <circle cx="12.5" cy="13" r="12.5" [attr.fill]="segment.color" />
          </svg>
        </div>
        <div class="text">
          <div class="label">{{ segment.className.split('-')[1] === '0' ? 'New Suggestions pending' :
            segment.className.split('-')[1] === '1' ? 'Old Suggestions pending' :
            segment.className.split('-')[1] === '2' ? 'Suggestions processed this month' :
            'Clusters created manually this month' }}</div>
        </div>
      </div>
      <div class="percentage">{{ segment.percentage }}%</div>
    </div>
  </div>
</div>