<div class="wrraper">
  <div class="title">Suggestions Statistics</div>
<svg class="circle-chart" [attr.viewBox]="'0 0 ' + (radius * 2) + ' ' + (radius * 2)">
  <ng-container *ngFor="let segment of segments">
    <path [attr.d]="describeArc(radius, radius, radius, innerRadius, segment.startAngle, segment.endAngle)" [attr.class]="segment.className"></path>
  </ng-container>
  <circle [attr.cx]="radius" [attr.cy]="radius" [attr.r]="innerRadius" class="inner-circle"></circle>
</svg>
<div class="data">
<div></div>

</div>
</div>