@import "src/styles.scss";
.common-select-wrapper {
    position: relative;
    display: flex;
    width: 16.75rem;
    height: 2.5rem;
    min-width: 9.6875rem;
    max-width: 28.125rem;
    padding: var(--Layout-medium, 0.5rem);
    align-items: center;
    justify-content: space-between;
    gap: var(--Layout-medium, 0.5rem);
    flex-shrink: 0;
    border-radius: var(--Border-radius-small, 0.25rem);
  }
  fieldset.defualt {
    border: 0.5px solid $c-3F4B5A;
  }
  
  fieldset.disabled{
    border: 0.5px solid $c-3F4B5A4D;
    background: $c-c4c7c580;
  }
  span.disabled{
    color:$c-3F4B5A4D;
  }
  fieldset.error{
    border-radius: var(--Border-radius-small, 0.25rem);
    border: 0.5px solid var(--Color-4, $c-C00);
    background: $c-FAEAEA;
  }
  .wrapper {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    flex-direction: column;
    background: $c-FFFFFF;
    gap: 0.1rem;
  }
  .custom-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
  }
  
  .custom-arrow {
    color: $c-3F4B5A;
    font-family: "Font Awesome 6 Pro";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .custom-arrow.disabled {
    color:$c-3F4B5A4D;
    /* pointer-events: none;  */
  }
  .custom-options{
    list-style: none;  
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--Border-radius-none, 0rem);
    background: $c-FFFFFF;
    z-index: 100;
  }
  .custom-options li {
    padding: 0.5rem;
    cursor: pointer;
  }
  .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    color: #3F4B5A;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
  }
  
  .icon-arrowbottom {
    display: flex;
    width: 1.25rem;
    padding: 0.1875rem 0.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }
  .error-message {
    color:$c-FF6665;
    text-align: right;
    font-family: Rubik;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.813px;
  }
  fieldset.focused{
    border: 1px solid var(--Primery, #1334B9);
  }
  fieldset.populated{
    border: 0.5px solid var(--Color-2, #262C34);
  }
  .select-fieldset {
    padding: 0.5rem;
    position: relative;
  }
  .select-legend {
    font-family: Poppins;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 1.1rem;
    display: flex;
    align-items: center;
  }
  legend.default ,legend.error, legend.disabled {
    padding: 0%;
  }
  
  
  legend.focused{
    color: var(--Primery, $c-1334B9);
  }
  
  legend.populated{
    color: var(--Color-2, $c-262C34);
  }
  